@model List<string>
@using Skrin.BLL.Infrastructure
@using Skrin.BLL.Authorization
@using Skrin.BLL.Root
@using Newtonsoft.Json

@{
    UserSession us = Context.GetUserSession();
    string add_tag = us.AuthenticationResult == AuthenticationType.Ok ? "" : " readonly=\"readonly\" onclick=\"united_login(5);\" ";
    int user_id = us.UserId;
}

@section Css{
<link href="~/Content/search.css?v=20170417" rel="stylesheet" />
<link href="~/Content/tree.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-1.11.4.custom/jquery.ui.datepicker.css" rel="stylesheet" />
}

@section Script{
<script src="~/Scripts/progs2.js"></script>
<script src="~/Scripts/seekEgrip.js"></script>
<script src="~/Scripts/issuer_list.js"></script>
<script src="~/Scripts/search/ichp.js?v=20170417"></script>

<script>
    var extGroupList =  @Html.Raw(JsonConvert.SerializeObject(AuthenticateSqlUtilites.GetExtGroupList(user_id)));
    var user_id=@(user_id);

    var roles_object=@Html.Raw(ViewBag.RolesJson);
    var group_limit=@(us.GroupLimit);

    @if (Model.Count > 0)
    {
        string values="";
        foreach (var item in Model)
        {
            values+=item;
        }

        @: $().ready(function () {
                    @Html.Raw(values);
            @:search_check_changes();
            @:doSearch();
            @:_toggle_extented_search(false);
            @:});

    }
    
</script>
<iframe class="service_frame" name="xls_frame" id="xls_frame" onload="hideClock();"></iframe>
}
<div id="search_block">
    <div id="search_block_base">
        <div class="content">
            <div id="base_block">
                <input class="search_input large" id="ruler" placeholder="ФИО, ИНН, ОГРНИП" />
                <button class="btns darkblue large" onclick="doSearch()">Найти</button>
                <button class="btns grey large" onclick="doClear()">Очистить</button>
                <h3 id="extended_switcher"><span id="extended_switcher_inner">Расширенный поиск</span><span id="switcher_ico" class="icon-angle-down"></span></h3>
            </div>
        </div>
    </div>
    <div id="search_block_extended">
        <div class="content">
            <div id="extended_block">
                <div class="form-group">
                    <label for="ind" class="label_form">Отрасль</label>
                    <div class="sub_form">
                        <input id="ind" type="text" class="search_input" onclick="show_tree_selector(event,ind_type,1,0)" placeholder="Отрасль (ОКВЭД)" title="Общероссийский классификатор видов экономической деятельности" />
                        <input type="hidden" id="ind_val" data-check value="" /><input type="hidden" id="ind_excl" value="0" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reg" class="label_form">Регион</label>
                    <div class="sub_form">
                        <input id="reg" type="text" class="search_input" onclick="show_tree_selector(event,reg_type,1,0)" placeholder="Регион" title="Общероссийский классификатор объектов административно-территориального деления" />
                        <div class="form_switcher">
                            <input type="radio" value="0" checked="checked" name="reg_type" onclick="ch_reg_type(this)" />ОКАТО
                            <input type="radio" value="5" name="reg_type" onclick="ch_reg_type(this)" />по регистрации в налоговых органах
                        </div>
                    </div>
                    <input type="hidden" id="reg_val" data-check value="" /><input type="hidden" id="reg_excl" value="0" />
                </div>
                <div class="form-group">
                    <label for="gropVal" class="label_form">Группы</label>
                    <div class="sub_form">
                        <div class="customSelect" id="groupSelect" onclick="show_groupSelector();">
                            <span id="gropVal" class="customVal" data-check val="0">Нет</span>
                            <span class="icon-angle-down"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="countVal" class="label_form">Выводить по</label>
                    <div class="sub_form">
                        <div class="customSelect" id="countSelect" onclick="show_countSelector();">
                            <span id="countVal" class="customVal" val="30">30</span>
                            <span class="icon-angle-down"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btns darkblue large" onclick="doSearch()">Найти</button>
                    <button class="btns grey large" onclick="doClear()">Очистить</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="result_block">
    <div class="content">
        <div id="search_result" style="display:none;">
        </div>
        <div style="clear:both"></div>
        <div style="text-align:center; padding-top: 150px;padding-bottom: 200px;"><a class="link" href="javascript:showSeekWinIP()">Если Вы не нашли интересующего Вас индивидуального предпринимателя, попробуйте поискать в ЕГРИП (сформировать выписку)</a></div>
    </div>
</div>

