<div class="restr_info">Воспроизведение, перепечатка или распространение иным образом материалов данного сайта возможно только с письменного разрешения и при указании гиперссылки на http://kontragent.skrin.ru</div>
<div class="contact_info">
    Отдел продаж СКРИН<br>
    Тел.: +7 (495) 787-17-67<br>
    Факс: +7 (495) 787-17-66<br>
    e-mail: sales@skrin.ru<br>
    &copy;1999-@DateTime.Now.Year АО «СКРИН»
</div>
