@{
    Layout = null;
}

<div style='width:100%;height:400px;margin: 50px 30px;'><h1 style='margin:20px 0'>Техническая ошибка</h1><p>В настоящее время наши сотрудники работают над ее устранением.</p><p>Попробуйте зайти позже</p></div>