BODY
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    padding-left:0px;
    
}
HR
{
	border-bottom: none;
	border-left: none;
	border-top: #222222 1px dotted;
	border-right: none;
}
TD
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #003399
}
A:active
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #0066cc;
    TEXT-DECORATION: underline
}
TD.table_content
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 10px;
    TEXT-ALIGN: justify
}
TD.table_content2
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 10px;
    PADDING-TOP: 4px
}
TD.info_block
{
    PADDING-RIGHT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    COLOR: #ffffff;
    PADDING-TOP: 0px
}
.info_block A:link
{
    FONT-WEIGHT: bold;
    COLOR: #f0f0f0;
    TEXT-DECORATION: none
}
.info_block A:active
{
    FONT-WEIGHT: bold;
    COLOR: #f0f0f0;
    TEXT-DECORATION: none
}
.info_block A:visited
{
    FONT-WEIGHT: bold;
    COLOR: #f0f0f0;
    TEXT-DECORATION: none
}
.info_block A:hover
{
    FONT-WEIGHT: bold;
    COLOR: #dddd00;
    TEXT-DECORATION: none
}
TD.info2_block
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 1px;
    COLOR: #ffffff;
    PADDING-TOP: 2px
}
.info2_block A:link
{
    COLOR: #003399;
    TEXT-DECORATION: underline
}
.info2_block A:hover
{
    COLOR: #0066cc;
    TEXT-DECORATION: underline
}
.system_form
{
    BORDER: solid 1px #cccccc;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 1px;
    COLOR: #666666;
    PADDING-TOP: 2px;
    FONT-FAMILY: Arial, Tahoma, 'MS Sans Serif'
}
.shop_button
{
    BORDER-RIGHT: #F56622 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #F56622 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 8px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #F56622 1px solid;
    COLOR: #FFFFFF;
    PADDING-TOP: 2px;
    BACKground-color: #F56622;
    BORDER-BOTTOM: #F56622 1px solid;
    FONT-FAMILY: Arial, Tahoma, 'MS Sans Serif'
}

.system_shop_form
{
    BORDER-RIGHT: #F48C13 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #F48C13 1px solid;
    PADDING-LEFT: 2px;
    FONT-SIZE: 10px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #F48C13 1px solid;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #F48C13 1px solid;
    FONT-FAMILY: Arial, Tahoma, 'MS Sans Serif'
}
TD.nofonts
{
    FONT-SIZE: 1px
}
.date
{
    FONT-SIZE: 9px;
    COLOR: #000000
}
.time
{
    FONT-SIZE: 9px;
    COLOR: #666666
}
TD.gray_vline
{
    FONT-SIZE: 1px;
    WIDTH: 1px;
    BACKGROUND-COLOR: #ababab
}
TD.gray_hline
{
    FONT-SIZE: 1px;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #ababab
}
TD.white_vline
{
    FONT-SIZE: 1px;
    WIDTH: 1px;
    BACKGROUND-COLOR: #ffffff
}
TD.white_hline
{
    FONT-SIZE: 1px;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #ffffff
}
TD.lgreen_vline
{
    FONT-SIZE: 1px;
    WIDTH: 1px;
    BACKGROUND-COLOR: #00c353
}
TD.lgreen_hline
{
    FONT-SIZE: 1px;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #00c353
}
TD.dgreen_vline
{
    FONT-SIZE: 1px;
    WIDTH: 1px;
    BACKGROUND-COLOR: #008c1f
}
TD.dgreen_hline
{
    FONT-SIZE: 1px;
    HEIGHT: 1px;
    BACKGROUND-COLOR: #008c1f
}
TD.dgreen_hline2
{
    FONT-SIZE: 1px;
    HEIGHT: 2px;
    BACKGROUND-COLOR: #008c1f
}
.incaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 11px;
    COLOR: #666666
}
.table_caption_left
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ababab 1px solid;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.table_caption
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ababab 1px solid;
    BACKGROUND-COLOR: #e6e6e6;
    
}
.table_caption2
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ababab 1px solid;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.table_caption_icons
{
    BORDER-BOTTOM: #ababab 1px solid;
    BACKGROUND-COLOR: #e6e6e6
}
.table_caption_right
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #ababab 1px solid;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: right
}
.table_caption_b_left
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #003399 1px solid;
    BACKGROUND-COLOR: #0066cc;
    TEXT-ALIGN: left
}
.table_caption_b
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #003399 1px solid;
    BACKGROUND-COLOR: #0066cc;
    TEXT-ALIGN: left
}
.table_caption_b_right
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 3px;
    COLOR: #ffffff;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #003399 1px solid;
    BACKGROUND-COLOR: #006699;
    TEXT-ALIGN: left
}
.table_shadow_left
{
    BORDER-RIGHT: #ffffff 1px solid;
    FONT-SIZE: 1px;
    HEIGHT: 5px;
    BACKGROUND-COLOR: #d6d6d6
}
.table_shadow
{
    BORDER-RIGHT: #ffffff 1px solid;
    FONT-SIZE: 1px;
    HEIGHT: 5px;
    BACKGROUND-COLOR: #d6d6d6
}
.table_space
{
    BORDER-RIGHT: #ffffff 1px solid;
    FONT-SIZE: 1px;
    HEIGHT: 10px;
    BACKGROUND-COLOR: #FFFFFF
}

.table_item_left
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: top;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #ffffff 1px solid
}
.table_item
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: top;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #ffffff 1px solid
}
.menustyle
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.menustyle1_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.menustyle_text
{
    FONT-WEIGHT: normal
}
.menustyle_text_dis
{
    FONT-WEIGHT: normal;
    COLOR: #999999
}
.menustyle_text_select
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.menustyle_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #009323
}
.menustyle_shop_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #F48C13
}
.submenustyle1
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
.submenustyle2
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #f0f0f0
}

.submenustyle3
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 10px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #f0f0fe
}
.submenustyle4
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #fefefe
}
.submenustyle5
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 30px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #fEfEfE
}
.submenustyle_shop2
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
    BACKGROUND-COLOR: #FDB25F
}
.submenustyle_text
{
    FONT-WEIGHT: normal;
    text-decoration: none;
}
.submenustyle_shop_text
{
	PADDING-TOP: 2px;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 3px;
    FONT-WEIGHT: normal;
    BACKGROUND-COLOR: #FDB25F
}

.submenustyle_text_dis
{
    FONT-WEIGHT: normal;
    COLOR: #999999
}
.submenustyle_text_dis1
{
    FONT-WEIGHT: normal;
    COLOR: #B4B4B4
}
.submenustyle_text_dis2
{
    FONT-WEIGHT: normal;
    COLOR: #C8C8C8
}
.submenustyle_text_dis3
{
    FONT-WEIGHT: normal;
    COLOR: #D2D2D2
}
.submenustyle1_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #999999
}
.submenustyle1_shop_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #f46523
}
.submenustyle2_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #999999
}
.submenustyle3_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 20px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #B4B4C8
}
.submenustyle4_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 25px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #C8C8BE
}
.submenustyle5_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 30px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #D2D2D2
}
.submenustyle2_shop_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #f46523
}
.submenustyle_text_select
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
.submenustyle_text_shop_select
{
    FONT-WEIGHT: bold;
    COLOR: #ffffff;
    BACKGROUND-COLOR:#f46523
}

.submenu2_text_select
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    text-decoration: none;
}
.submenu2_selectN
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #ffffff
}
.submenu2N
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #ffffff
}
.calendar_caption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #009323;
    TEXT-ALIGN: center
}
.calendar_select
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #ababab;
    TEXT-ALIGN: center
}
.calendar_currentday
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9px;
    COLOR: #000000;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: center
}
.calendar_selectday
{
	font-size: 9px;
	background-color: #f6f6f6;
	text-align: center;
	color: #003399;
	text-decoration: underline;
}
.calendar_day
{
    FONT-SIZE: 9px;
    BACKGROUND-COLOR: #f6f6f6;
    TEXT-ALIGN: center
}
.author
{
    FONT-SIZE: 9px;
    COLOR: #009323
}
.caption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px
}
.padded10
{
	font-weight: bold;
	left: 35px;
	position: relative;
}
.padded3
{
	left: 10px;
	position: absolute;
}

.minicaption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #009323
}
.minicaption1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #009323
}
.data_comment
{
    FONT-SIZE: 9px;
    COLOR: #666666
}
.path
{
    FONT-SIZE: 9px;
    COLOR: #666666
}
.table_subcaption
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #ffffff 1px solid;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: center
}
.table_subcaption2
{
    BORDER-RIGHT: #ffffff 1px solid;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    COLOR: #666666;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #ababab 1px solid;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: left
}
.bluecaption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #0066cc
}
TD.profile_table_caption
{
    FONT-WEIGHT: bold
}
.needelement
{
    FONT-WEIGHT: 900;
    COLOR: #009323
}
.invisible_element
{
    DISPLAY: none
}
.visible_element
{
    DISPLAY: block
}
.error
{
    FONT-WEIGHT: bold;
    COLOR: #aa0000
}
.tabs_select
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    BACKGROUND-IMAGE: url(/images/tabs_select_bg.gif);
    PADDING-TOP: 2px
}
.tabs_unselect
{
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    BACKGROUND-IMAGE: url(/images/tabs_unsel_bg.gif);
    COLOR: #333333;
    PADDING-TOP: 3px
}
.txt_select
{
    FONT-WEIGHT: normal;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.txt_unselect
{
    FONT-WEIGHT: normal;
    COLOR: #666666;
    TEXT-DECORATION: none
}
.search_text
{
    FONT-WEIGHT: bold;
    COLOR: #aa0000
}
TD.advert_txt
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 18px;
    FONT-WEIGHT: bold;
    COLOR: #666666;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.advert_txt A:link
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.advert_txt A:active
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.advert_txt A:visited
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.advert_txt A:hover
{
    COLOR: #0066cc;
    TEXT-DECORATION: none
}
TD.advert2_txt
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 8px;
    FONT-WEIGHT: bold;
    COLOR: #666666;
    PADDING-TOP: 3px;
    TEXT-ALIGN: left
}
.advert2_txt A:link
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.advert_txt A:active
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.advert_txt A:visited
{
    COLOR: #666666;
    TEXT-DECORATION: none
}
.advert2_txt A:hover
{
    COLOR: #0066cc;
    TEXT-DECORATION: none
}
.doc_price
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #aa0000
}
.submenu2_select
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 12px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #ffffff
}
.submenu2
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 12px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 2px;
    BACKGROUND-COLOR: #ffffff
}
.print
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: 'Arial Narrow'
}
.print_head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    FONT-FAMILY: 'Arial Narrow';
    BACKGROUND-COLOR: silver
}
.anews
{
    COLOR: #003399
}
.anewsv
{
    COLOR: #004e00
}
.center_advert {
	FONT-FAMILY: Arial; COLOR: #6a6a6a; TEXT-ALIGN:left; TEXT-DECORATION: none
}
.center_advert A
{
	color: #6a6a6a;
	text-decoration: none;
}
.center_advert A:active
{
	color: #6a6a6a;
	text-decoration: none;
}
.center_advert A:link
{
	color: #6a6a6a;
	text-decoration: none;
}
.center_advert A:visited
{
	color: #6a6a6a;
	text-decoration: none;
}
.center_advert A:hover
{
	color: #8cb99e;
	text-decoration: none;
}
.center_advert1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; TEXT-ALIGN:left; TEXT-DECORATION: none; FONT-SIZE: 11px;
}
.center_advert1 A
{
	color: #000000;
	text-decoration: none;
}
.center_advert1 A:active
{
	color: #000000;
	text-decoration: none;
}
.center_advert1 A:link
{
	color: #000000;
	text-decoration: none;
}
.center_advert1 A:visited
{
	color: #000000;
	text-decoration: none;
}
.center_advert1 A:hover
{
	color: #003399;
	text-decoration: none;
}
A:link.shop
{
    COLOR: #E84016;
    
    TEXT-DECORATION: none;
    
}
A:hover.shop
{
    COLOR: #E84016;
    
    TEXT-DECORATION: underline
}
A:visited.shop
{
    COLOR: #E84016;
    
    TEXT-DECORATION: none
}
.shop
{
    COLOR: #E84016;
    TEXT-DECORATION: none
    
}
.districts
{
    
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    COLOR: #666666;
    padding-top: 20px;
    padding-bottom: 20px;
}

.alphabet
{
     padding-top: 10px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    
    padding-bottom: 20px;
}

.regions
{
    
    FONT-WEIGHT: bolder;
    FONT-SIZE: 16px;
    COLOR: #666666;
    padding-top: 20px;
    padding-bottom: 20px;
}
.regions1
{
    
    FONT-WEIGHT: bolder;
    FONT-SIZE: 30px;
    COLOR: #666666;
    
    padding-bottom: 20px;
}
.tdmenu
{
	color: #003399;
	background-color: #e6e6e6;
	padding-left: 15px;
	cursor: pointer;
	text-decoration: underline;
	background-image: url(/images/mnu_bullet_2_1.gif);
	background-repeat: no-repeat;
	background-position: 8px center;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: bold;
}
.tdmenu_sel
{
	color:#FFFFFF;
	background-color:#009323;
	background-image: url(/images/mnu_bullet_1_4.gif);
	background-repeat: no-repeat;
	background-position: 8px center;
	font-family: Arial;
	padding-left:15px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.tdmenu_dis 
{
	color:#666666;
	background-color:#E6E6E6;
	background-image: url(/images/mnu_bullet_2_3.gif);
	background-repeat: no-repeat;
	background-position: 8px center;
	padding-left:15px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.tdsubmenu
{
	color: #003399;
	background-color: #ffffff;
	padding-left: 23px;
	cursor: pointer;
	text-decoration: underline;
	background-image: url(/images/mnu_bullet_2_1.gif);
	background-repeat: no-repeat;
	background-position: 15px center;
	margin-left: 5px;
}
.tdsubmenu_sel
{
	color:#FFFFFF;
	background-color:#666666;
	padding-left:23px;
	background-image: url(/images/mnu_bullet_1_4.gif);
	background-repeat: no-repeat;
	background-position: 15px center;
}
.tdsubmenu_dis 
{
	color:#666666;
	background-color:#FFFFFF;
	padding-left:23px;
	background-image: url(/images/mnu_bullet_2_3.gif);
	background-repeat: no-repeat;
	background-position: 15px center;
}
.tdparentmenu
{
	color: #003399;
	background-color: #f0f0f0;
	padding-left: 15px;
	background-image: url(/images/mnu_bullet_1_1.gif);
	background-repeat: no-repeat;
	background-position: 8px center;
	text-transform: uppercase;
	font-weight: bold;
}
.divmenu
{
	background-image: url(images/form_top.gif);
	background-color: #e6e6e6;
	background-repeat: repeat-x;
}
.divtab
{
	padding-bottom: 3px;
	margin-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 0px;
	border-top: black 1px dotted;
	border-right: black 1px dotted;
	padding-top: 3px;
	font-weight: bold;
	
}
.div_error
{
	background-image: url(/images/critical.png);
	text-align: center;
	border: firebrick 1px solid;
	padding-bottom: 5px;
	background-color: #ffffcc;
	padding-left: 50px;
	padding-right: 5px;
	background-repeat: no-repeat;
	font-family: Arial;
	color: black;
	vertical-align: middle;
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 16px;
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.span_info
{
border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
font-family: Calibri, Tahoma, Geneva, sans-serif;
position: absolute; left: 1em; top: 2em; z-index: 99;
margin-left: 0; 
font-family: Arial;
	color: black;
	vertical-align: middle;
	font-weight: bold;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;
	font-size: 16px;	
}
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }
.img {
border: 0; margin: -45px 0 0 -45px;
float: left; position: absolute;
}
.normal
{
	font-family:Arial,Sans-Serif;
	text-align:justify;
	font-size:12px;
	width:320px;
}


.btns {
/*font-family:'DejaVu Sans Condensed' , Georgia, Arial, Sans-Serif;*/
font-family: Arial,Sans-Serif,Georgia;
color:#FFF;
font-size:11px;
text-decoration:none;
cursor:pointer;
text-align:center;
border:none;
width:85px;
height:19px;
box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow:1px 1px rgba(0, 0, 0, 0.1);
border-radius:5px 5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
vertical-align:top;
text-indent:1px;
padding:2px 15px 2px 15px;
}

.btns_mini {
font-family:Arial, Sans-Serif, Georgia;
color:#FFF;
font-size:10px;
text-decoration:none;
cursor:pointer;
text-align:center;
border:none;
box-shadow:1px 1px 1px rgba(0, 0, 0, 0.1);
-webkit-box-shadow:1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow:1px 1px rgba(0, 0, 0, 0.1);
border-radius:5px 5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
vertical-align:top;
text-indent:1px;
padding:2px 5px 2px 5px;
}

.blue {
background-image:url(/images/btn_back.gif);
background-color:#096bce;
}

.green {
background-image:url(/images/btn_back_green.gif);
background-color:#108B26;
}

.red {
background-image:url(/images/btn_back_red.gif);
background-color:#CF1010;
}
.dis {
background-image:url(/images/btn_back_dis.gif);
background-color:#C0C0C0;
cursor:help;
}
.dragg_div_top

{
	background-image: url(/images/button_back.gif);
	background-repeat: repeat-x;
	width:100%;
	height:25px;
	cursor:move;
	
	
}
.news_text
{
	padding-left: 5px;
	padding-right: 5px;
	overflow: auto;
	width: 630px;
	height: 355px;
	
}
.news_issuers
{
	list-style-image: url(/images/icon_information.gif);
	list-style-position: outside;
	line-height: 16px;
}
.prn_img
{
	border:none;
	cursor:pointer;
	width:18px;
	height:18px;
}
.printSelected div{display:none}
.printSelected div.printSelection{display:block;}
.printSelected div.printSelection div{display:block;z-index:500;}
.div_container { height:120px;float:left;border:dotted 1px #333333;}
.dfirst { border:dotted 1px #333333;
	width:180px;
	text-align:center;
}
.dsecond
{
	border-left: none;
	width:140px;
	
}
.dthird 
{
	border-left: none;
	width:280px;
}
.dtrade_sec	
{
	overflow:auto;
	width:inherit;
	height:100px;
	border:none;
	
}
.congr
{
	width:437px;
	height:598px;
	background-image:url(/mimoza.jpg);
	position:absolute;
	z-index:100;
	border:solid 2px #003399;
	top:20px;
	left:20px;
	background-color:#4B8FD0;
	
}
.div_header {width:100%; height:20px; background-image:url(/images/button_back.gif); background-repeat:repeat-x; font-weight:600; text-align:center; white-space:nowrap;}
@import "/iss/css/jquery.ui.core.css";
@import "/iss/css/jquery.ui.theme.css"; 
@import "/iss/css/jquery.ui.datepicker.css";

.scrin_gal img
{
    border-width:0px;
}
.egrul_selector
{
	position:absolute;
	z-index:100;
	background-color:#F5F4F2;
	padding:8px 8px 8px 8px;
}
.get_egrul
{
	cursor: pointer;
	color: #003399;
	text-decoration: underline;
	line-height: 25px;
	background-image: url(/images/mnu_bullet_1_1.gif);
	padding-left:9px;
	background-repeat: no-repeat;
	background-position: left center;
}
/*Новое верхнее меню профиля*/
.top_menu 
{
    /*bottom: 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;*/
    margin-top:0px;
    margin-bottom:0px;
    padding-left:10px;
    margin-left:0px;
}

.topmenu_button
{
    
    background-repeat:no-repeat;
    height:16px;
    float: left;
    border:1px solid #666; 
    list-style-type: none;
    cursor: pointer;
    padding-top:4px;
    padding-left: 10px;
    padding-right: 3px;
    margin-top: 4px;
    margin-right:2px;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-indent:15px;
    /*text-transform: uppercase;*/
    color:#666;
}
.topmenu_button_locked
{
    
    background-repeat:no-repeat;
    height:16px;
    float: left;
    border:1px solid #666; 
    list-style-type: none;
    padding-top:4px;
    padding-left: 10px;
    padding-right: 3px;
    margin-top: 4px;
    margin-right:2px;
    font-family: Arial, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-indent:15px;
    /*text-transform: uppercase;*/
    color:#999;
}
.topmenu_button:hover
{
    border:1px solid #146EC7;
    color:#146EC7
}

.massreg
{
    width:130px;
    background: url("/images/grey_home.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;    
}
.massreg:hover
{
    background: url("/images/blue_home.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;
}
.massreg_locked
{
    width:130px;
    background: url("/images/grey_home.gif") no-repeat scroll 5px center transparent;
    background-color:#e8e8e8;    
}
.printer
{
    width:60px;
    background: url("/images/grey_print.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;    
}
.printer_locked
{
    width:60px;
    background: url("/images/grey_print.gif") no-repeat scroll 5px center transparent;
    background-color:#e8e8e8;    
}
.printer:hover
{
    background: url("/images/blue_print.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;
}
.excel
{
    width:120px;
    background: url("/images/grey_excel.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;    
}
.excel:hover
{
    background: url("/images/blue_excel.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;
}
.excel_locked
{
    width:120px;
    background: url("/images/grey_excel.gif") no-repeat scroll 5px center transparent;
    background-color:#e8e8e8;
}
.engl
{
    width:60px;
    background: url("/images/grey_flag.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;    
}
.engl:hover
{
    background: url("/images/blue_flag.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;
}
.engl_locked
{
    width:60px;
    background: url("/images/grey_flag.gif") no-repeat scroll 5px center transparent;
    background-color:#e8e8e8;    
}
.report
{
    width:110px;
    background: url("/images/grey_report.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;    
}
.report:hover
{
    background: url("/images/blue_report.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;
}
.report_locked
{
    width:110px;
    background: url("/images/grey_report.gif") no-repeat scroll 5px center transparent;
    background-color:#e8e8e8;    
}
.egrul
{
    width:140px;
    background: url("/images/grey_egrul.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;    
}
.egrul:hover
{
    background: url("/images/blue_egrul.gif") no-repeat scroll 5px center transparent;
    background-color:#fff;
}
.egrul_locked
{
    width:140px;
    background: url("/images/grey_egrul.gif") no-repeat scroll 5px center transparent;
    background-color:#e8e8e8;    
}
/*Конец меню*/