@model string
@{
    Layout = null;
}
<link href="~/Content/tree.css" rel="stylesheet" />
<link href="~/Content/iss/contract.css" rel="stylesheet" />
<script>
    var INN = "@Model";
</script>
<script src="~/Scripts/ip/gz.js"></script>
<h3 class="subcaption">ГОССЗАКУПКИ</h3>
<div class="left_content">
    <div style="float:left;width:100%;padding-top:20px;">
        <div id="search_count" style="margin-top:6px;"></div>
        <div id="t_content"></div>
        <div id="pager"></div>
        <div id="contract_container" style="display:none"></div>
    </div>
</div>
<div class="right_content">
    <h3>Уточнить параметры поиска</h3>
    <div class="filter_form">
        <div class="filter_block">
            <h4>Роль</h4>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="rC" value="1" name="z_role" checked="checked" />Заказчик
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="rS" value="2" name="z_role" checked="checked" />Поставщик
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="rP" value="3" name="z_role" checked="checked" />Участник
                    </label>
                </div>
            </div>
        </div>
        <div class="filter_block">
            <h4>Размещение выполняется</h4>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="ch44" value="44" name="c_source" checked="checked" />44-ФЗ
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="ch94" value="94" name="c_source" checked="checked" />94-ФЗ
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="ch223" value="223" name="c_source" checked="checked" />223-ФЗ
                    </label>
                </div>
            </div>
        </div>
        <div class="filter_block">
            <h4>Период</h4>
            <div class="form-inline">
                <div class="form-group">
                    <label>с</label>
                    <input type="text" name="dFrom" id="dFrom" class="form-control" style="width: 80px;" />
                </div>
                <div class="form-group">
                    <label>по</label>
                    <input type="text" name="dTo" id="dTo" class="form-control" style="width: 80px;" />
                </div>
            </div>
        </div>
        <div class="filter_block">
            <div class="form-group">
                <h4>Номер сведений о контракте / закупке</h4>
                <input type="text" style="width:80%" class="form-control" name="reg_num" id="reg_num">
            </div>
        </div>
        <div class="filter_block">
            <h4>Цена в рублях</h4>
            <div class="form-inline">
                <div class="form-group">
                    <label>с</label>
                    <input type="text" id="sFrom" class="form-control" style="width: 80px;" value="" />
                </div>
                <div class="form-group">
                    <label>по</label>
                    <input type="text" id="sTo" class="form-control" style="width: 80px;" value="" />
                </div>
            </div>
        </div>
        <div class="filter_block">
            <h4>Статус</h4>
            <div class="form-group" id="status_block"></div>
        </div>
        <div class="filter_block">
            <div class="form-group">
                <h4>Контрагент</h4>
                <input type="text" style="width:80%" class="form-control" id="contragent">
                <input type="hidden" id="contragent_val" value="" />
                <input type="hidden" id="contragent_excl" value="0" />
                <div class="form_switcher">
                    <input type="radio" id="ch_contr_name" value="0" name="ch_contragent" checked="checked" />Наименование/ИНН/ОГРН
                    <input type="radio" id="ch_contr_code" value="1" name="ch_contragent" />Основной&nbsp;ОКВЭД
                </div>
            </div>
        </div>
        <div class="filter_block">
            <div class="form-group">
                <h4>Товар</h4>
                <input type="text" style="width:80%" class="form-control" id="product">
                <input type="hidden" id="product_val" value="" />
                <input type="hidden" id="product_excl" value="0" />
                <div class="form_switcher">
                    <input type="radio" id="ch_pr_name" value="0" name="ch_product" checked="checked" />Наименование
                    <input type="radio" id="ch_pr_code" value="1" name="ch_product" />Коды продукции
                </div>
            </div>
        </div>
        <div class="filter_block button_block">
            <div class="form-group">
                <input type="button" id="btn_find" onclick="search(0);" class="btns darkblue large" value="Применить">
            </div>
        </div>
    </div>
</div>
