@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <div id="logo" data-toggle="popover" data-placement="bottom">
        </div>
        <div id="top_menu">
        </div>
    </div>
    <div id="main">
        <div class="content notfound-content">
            <h2>403:(</h2>
            <p>У Вас нет доступа к данной странице</p>
            <p>По вопросу доступа Вы можете связаться с Отделом продаж АО "СКРИН" по телефону +7 (495) 787-17-67</p>
        </div>
    </div>
</body>
</html>

