@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BlockedIP</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/search.css" rel="stylesheet" />
    <link href="~/Content/forms.css" rel="stylesheet" />
    
    <script type="text/javascript" src="~/Scripts/jquery144.js"></script>
    <script type="text/javascript" src="~/Scripts/lib.js?20170315"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="~/Scripts/modals.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="logo" data-toggle="popover" data-placement="bottom">
            </div>
            <div id="top_menu">
            </div>
        </div>
        <div id="main">
            <div class="content notfound-content">
                <h2>403:(</h2>
                <p>Ваш IP @Model     заблокирован</p>
                <p>По вопросу доступа Вы можете связаться с Отделом продаж АО "СКРИН" по телефону +7 (495) 787-17-67 или</p>
                <div style="width:802px; padding:5px 0;" id="form_container">
                    <h3>Заполните форму:</h3>
                    <div class="form-group" style="padding:0;"><input class="form-control" id="login" placeholder="Логин" type="text"></div>
                    <div class="form-group" style="padding:0;"><input class="form-control" id="company" placeholder="Название компании" type="text"></div>
                    <div class="form-group" style="padding:0;"><input class="form-control" id="fio" placeholder="Ф.И.О." type="text"></div>
                    <div class="form-group" style="padding:0;"><input class="form-control" id="phone" placeholder="Телефон" type="text"></div>
                    <div class="form-group" style="padding:0;"><input class="form-control" id="email" placeholder="E-mail" type="email"></div>
                    <div class="form-group" style="padding:0;"><textarea class="form-control" id="comment" placeholder="Комментарии/Вопрос"></textarea></div>
                    <div class="form-group" style="margin-top:15px;padding:0;"><button type="button" onclick="askBlackIP(event)" class="btns darkblue">Отправить запрос</button></div>
                </div>
            </div>
        </div>
    </body>
    </html>
