
@{
    ViewBag.Title = "Данная страница не найдена";
}

<div class="content notfound-content">
    <h2>404:(</h2>
    <p>Данная страница не существует.</p>
    <p>Вы будете переправлены на <a href="~/">главную страницу сайта</a>.</p>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            location.href = "@Url.Content("~/")";
        }, 3 * 1000)
    })

</script>

