html, body {
    margin:0;
    padding:0;
    font-family: Verdana;
    font-size: 0.8em;
    /*text-align: center;*/
    background-color:#FFF;
}

input, select {
    font-size:0.9em;
}

table {
    margin-top:-10px;
    margin-left:7px;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#000;
    text-decoration:none;
}

#container {
    
   
    position:relative;
    width:1400px; height:835px;overflow:auto;text-align:center; vertical-align:middle;position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:600px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    width:200px;
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    left:0;
    background-image:url('col2.png');
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    right:0;
    background-image:url('col1.png');
    background-position:center left;
    border-right:1px solid #ddd;
}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width:800px;
    left:100px;
    background-color:#FFF;
    color:#ccc;
    border:solid 1px #000;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#009323;
}


#infovis {
    position:relative;
    width:1190px;
    height:720px;
    
    overflow:hidden;
    top:-1px;
    cursor:url("/Contern/vis/openhand.cur"),default;
}

/*TOOLTIPS*/
.tip {
    color: #111;
    width: 139px;
    background-color: white;
    border:1px solid #ccc;
    -moz-box-shadow:#555 2px 2px 8px;
    -webkit-box-shadow:#555 2px 2px 8px;
    -o-box-shadow:#555 2px 2px 8px;
    box-shadow:#555 2px 2px 8px;
    opacity:0.9;
    filter:alpha(opacity=90);
    font-size:10px;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    padding:7px;
    
}
/*.l_ic
{
	width: 9px;
	height: 9px;
	background-image: url(/iss/visual/css/links.png);
	cursor: pointer;
	background-repeat: no-repeat;
	float:right;
	
}
.l_ic-skrin_p { background-position: -1px 0px; height:9px; }
.l_ic-skrin_m { background-position: -11px 0px; }
.l_ic-skrin_i {background-position: -22px 0px;}
.l_ic-gmc_p { background-position: -1px -10px; height:9px;  }
.l_ic-gmc_m { background-position: -11px  -10px; }
.l_ic-gmc_i { background-position: -22px -10px; }
.l_ic-egrul_p { background-position: -1px  -20px; }
.l_ic-egrul_m { background-position: -11px -20px; }
.l_ic-egrul_i { background-position: -22px -20px; }
.l_ic-dis { background-position: -1px -30px; }
.l_ic-egrul_r { background-position: -11px -30px; }
*/
.l_ic
{
	width: 13px;
	height: 13px;
	background-image: url(/Content/vis/linksb.png);
	cursor: pointer;
	background-repeat: no-repeat;
	float:right;
	
}
.l_ic-skrin_p { background-position: 0px 0px; height:13px; }
.l_ic-skrin_m { background-position: -14px 0px; }
.l_ic-gmc_p { background-position: 0px -14px; height:13px;  }
.l_ic-gmc_m { background-position: -14px  -14px; }
.l_ic-egrul_p { background-position: 0px  -28px; }
.l_ic-egrul_m { background-position: -14px -28px; }
.l_ic-dis { background-position: -1px -30px; }
.l_ic-egrul_r { background-position: 0px -42px; }
/*.title{
	position:relative;
	z-index:1;
	zoom:1;
	color:#e9fff0;
	height:15px;
}
.title em{display:none;}
.title:hover em{
	display:block;
	position:absolute;
	z-index:1;
 	background-color:#e9fff0;
 	-webkit-border-radius:5px; 
 	-moz-border-radius:5px;
 	border-radius:5px;
	line-height:normal;
	color:#000;
	text-decoration:none;
	padding:3px 5px;
	bottom:12px;
	left:10px;
	-webkit-box-shadow:0 0 5px #666; 
	-moz-box-shadow:0 0 5px #666;
	box-shadow:0 0 5px #666;
	white-space:nowrap;
}
.title:hover em i{
	position:absolute;
	z-index:1;
	bottom:-7px;
	right:35px;
	border-top:7px solid #000;
	border-left:7px solid transparent;
	display:block;
	height:0;
	overflow:hidden;
	white-space:nowrap;
}*/
.hlink 
{
	color:#003399;
	cursor:pointer;
}
.hlink:hover
{
	text-decoration: underline;
}