@model List<RestService.Models.Account>
@{
    ViewBag.Title = "Аккаунты";
    ViewBag.PageID = 3;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Меню -->
@Html.Partial("_Menu")
<br />
<div class="row">
    <div class="form-group">

<!--        <div class='col-sm-4'>
            <b>Ресторан:</b>&nbsp;&nbsp;
            <select name="Restaurant" id="Restaurant" class="form-control" style="width:180px">
                <option value="0">Все</option>
                   foreach (var item in ViewBag.Restaurants)
                   {
                       <option value="item.ID" (ViewBag.FilterRestaurantID == item.ID ? "selected" : "")>item.Name</option>
                   }
            </select>
        </div>
    -->
        <div class='col-sm-2'>
            <b>Дата регистрации: с</b>
            <div class='input-group date' id='datepicker1'>
                <input type='text' class="form-control" id="beginDate" name="beginDate" size="10" value="@ViewBag.Filter.FilterBeginDate.ToShortDateString()" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class='col-sm-2'>
            <b>по</b>
            <div class='input-group date' id='datepicker2'>
                <input type='text' class="form-control" id="endDate" name="endDate" size="10" value="@ViewBag.Filter.FilterEndDate.ToShortDateString()" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class='col-sm-1'>
            <br />
            <button id="dateselect" class="btn" type="button">Показать</button>
        </div>
        <div class='col-sm-1'>
            <br />
            <button id="dateclear" class="btn" type="button">Очистить</button>
        </div>
        <div class='col-sm-2'>
            <br />
                <a href=" #" onclick="exportexcel();" title="Отчет в Excel"><img src="/images/excel.png" style="margin-right:10px;" width="32" border="0" />Отчет в Excel</a>
        </div>
</div>
    </div>
<br />
<!-- loading -->
<div class="row">
    <div class="col-md-12">
        <br />
        <center>
            <div id="LoadingImage" style="display: none">
                <font color="green">Загрузка данных...</font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/ajax-loader.gif" />
            </div>
        </center>
    </div>
</div>
<div id="placedata">
</div>




@section Scripts 
{    
        <script type="text/javascript">
            $(document).ready(function () {

                $('#change_status').on('click', function (e) {
                    e.preventDefault();
                    var id = $('#AccountStatus').attr("account_id");
                    var status_id = $('#Status').val();
                    $('#AccountStatus').modal('hide');
                    $.ajax({
                        type: "POST",
                        url: "/Accounts/ChangeAccountStatus?id=" + id + "&status_id=" + status_id,
                        success: function (data) {
                            document.location.href = "/Accounts/Index";
                        }
                    });
                });

                $('#change_status').on('click', function (e) {
                    e.preventDefault();
                    var id = $('#AccountStatus').attr("account_id");
                    var status_id = $('#Status').val();
                    $('#AccountStatus').modal('hide');

                });

                $('#confirmdisable').on('click', function (e) {
                    e.preventDefault();
                    var id = $('#ConfirmDisable').attr('name');
                    $('#ConfirmDisable').modal('hide');
                    $.ajax({
                        type: "POST",
                        url: "/Accounts/DeleteAccount?id=" + id,
                        success: function (data) {
                            document.location.href = "/Accounts/Index";
                        }
                    });
                });

                $('#confirmredo').on('click', function (e) {
                    e.preventDefault();
                    var id = $('#ConfirmRedo').attr('name');
                    var phone = $('#ConfirmRedo').attr('phone');
                    $('#ConfirmRedo').modal('hide');
                    $.ajax({
                        type: "POST",
                        url: "/Accounts/RedoPsw?id=" + id + "&phone=" + phone,
                        success: function (data) {
                            document.location.href = "/Accounts/Index";
                        }
                    });
                });

                $('#dateclear').click(function (e) {
                    clear_filter();
                });

                $('#dateselect').click(function (e) {
                    var filters = {
                        FilterBeginDate: $('#beginDate').val(),
                        FilterEndDate: $('#endDate').val()
                    };
                    $('#LoadingImage').show();
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AccountsLoad", "Accounts")',
                    data: filters,
                    success: function (msg) {
                        $('#LoadingImage').hide();
                        $('#placedata').empty().html(msg);
                    }
                });

            });
            });
        </script>

        <script type="text/javascript">
            $(function () {
                $('#datepicker1').datetimepicker({
                    language: 'ru',
                    pickTime: false
                });
            });

            $(function () {
                $('#datepicker2').datetimepicker({
                    language: 'ru',
                    pickTime: false
                });
            });

        </script>
    
    <script type="text/javascript">
        function edit(id, status_name) {
            $('#account_id').html("ID аккаунта: " + id + "</br/><br/>");
            $('#account_status').html("Текущий статус аккаунта:" + status_name + "</br/><br/>");
            $('#AccountStatus').attr("account_id", id).modal();
        }

        function modaldisable(id) {
            $('#ConfirmDisable').attr('name', id).modal();
        }

        function modalredo(id,phone) {
            $('#ConfirmRedo').attr('name', id).modal();
            $('#ConfirmRedo').attr('phone', phone).modal();
        }

        function exportexcel() {
            var dfrom = $('#beginDate').val();
            var dto = $('#endDate').val();
            document.location.href = "/Reports/ExcelExport?dfrom=" + dfrom + "&dto=" + dto;
        }
    </script>
    }
