@model Skrin.Models.Iss.Content.FedresursModel
@{
    Layout = null;
}

<script>
//    var SNAME = "@Model.FedresursCompany.SearchedName";
//    var SNAME2 = "@Model.FedresursCompany.SearchedName2";
//    var INN = "@Model.FedresursCompany.INN";
//    var OGRN = "@Model.FedresursCompany.OGRN";
</script>

<script src="~/Scripts/iss/fedresurs.js"></script>

<style type="text/css">
.modal-content table td{
     text-align: left;
     padding: 5px 10px;
     background-color: #fff;
     border: solid 0px #ddd;
}

.modal-content table.mandatoryAssessmentTable  th{
     text-align: left;
     padding: 5px 10px;
     background-color: #fff;
     border: solid 1px #ddd;
}

.modal-content table.mandatoryAssessmentTable  td{
     text-align: left;
     padding: 5px 10px;
     background-color: #fff;
     border: solid 1px #ddd;
}

.modal-content table.mess-change-list  th{
     text-align: left;
     padding: 5px 10px;
     background-color: #fff;
     border: solid 1px #ddd;
}

.modal-content table.mess-change-list  td{
     text-align: left;
     padding: 5px 10px;
     background-color: #fff;
     border: solid 1px #ddd;
}
</style>

<div class="left_content">
    <div style="float:left;width:100%;padding-top:20px;" id="vestnik_found">
        <div id="search_count" style="margin-top:6px;"></div>
        <div id="t_content"></div>
        <div id="pager"></div>
        <div id="link_details"></div>
        <div id="testing" />
    </div>
</div>

<div class="right_content">
    <h3>Уточнить параметры поиска</h3>
    <div class="filter_form">
        <div class="filter_block">
            <div class="form-group">
                <h4>Текст</h4>
                <span id="autosearch_text"></span>
                <input type="text" name="kw" id="kw" class="form-control" style="width:80%" />
            </div>

        </div>
        <div class="filter_block">
            <h4>Период</h4>
            <div class="form-inline">
                <div class="form-group">
                    <label>с</label>
                    <input type="text" name="dfrom" id="dfrom" class="system_form" style="width:80px;" />
                </div>
                <div class="form-group">
                    <label>по</label>
                    <input type="text" name="dto" id="dto" class="system_form" style="width:80px;" />
                </div>
            </div>
        </div>
        <div id="type_selector_container">
        </div>
        <div class="filter_block button_block">
            <div class="form-group">
                <input type="button" value="Применить" class="btns darkblue large" id="btn_find">
            </div>
        </div>

    </div>
</div>

<div id="div_barg">
    <div class="form_container">
        <form name="news_form" id="news_form" onkeypress="news_search(event);">
            <input type="hidden" id="is_company" value="true" />
        </form>
    </div>
</div>
