@{
    Layout = null;
}
<script src="~/Scripts/iss/genproc.js"></script>
<link href="~/Content/iss/genproc.css" rel="stylesheet" />
<style>
    #extra_search{
        display:none;
    }
</style>
<div id="gen_proc_content"></div>
