@using Skrin.Models.Iss.Content
@model HorisonrtalTable
@Html.Raw(Model.FormatedHeader)

<!--<table Html.Raw(Model.TableAttributes) cellspacing="0" cellpadding="2">-->
<table class="profile_table" cellspacing="0" cellpadding="0">
    @for (int i = 0, i_max = Model.RowCount; i < i_max; i++)
    {
        <tr bgcolor="@(i % 2 == 0 ? "#FFFFFF" : "#F0F0F0")">
            @foreach (var column in Model.Columns.Values)
            {
                <td @Html.Raw(column.ColumnAttributes)>@Html.Raw(column.ColumnValues[i].FormatedValue)</td>
            }
        </tr>
    }
</table>