@using Skrin.Models.News
@model List<NewsHeader>
@{
    ViewBag.Title = "Index";
}
@section Css{
    <link href="~/Content/news.css" rel="stylesheet" />
}
@section Script{
    <script>
        var selected_id=@ViewBag.id;
    </script>
    <script src="~/Scripts/news.js"></script>
}
<div class="content">
    <h1>Новое на сайте</h1>
    <div id="news_container">
        @for (int i = 0; i < Model.Count; i++)
        {
            var header = Model[i];
            <div class="news_block @(i>10 ? " archive invisible" : "")" id="news_block_@header.id">
                <span class="news_data">@header.dt</span>
                <span class="news_header" id="news_header_@header.id">@header.header<span class="icon-angle-down header_down"></span></span>
            </div>
        }
        <button class="btns" id="archive_toggle">Архив новостей</button>
    </div>
</div>



