
@{
    ViewBag.Title = "СКРИН";
}
@section Css{
    <link href="~/Content/index.css" rel="stylesheet" />
}
@section Script{
    <script src="~/Scripts/index.js"></script>
}
<div id="top_main">
    <div class="content">
        <div id="statistic_block">
            <span class="title">
                <em>Количество юр. лиц в базе</em>
                <span id="ul_count" class="stat_count"></span>
            </span>
            <span class="title">
                <em>Количество ИП в базе</em>
                <span id="fl_count" class="stat_count"></span>
            </span>
            <span class="title">
                <em>Количество арбитражных дел</em>
                <span id="case_count" class="stat_count"></span>
            </span>
            <span class="title">
                <em>Количество государственных контрактов</em>
                <span id="zak_count" class="stat_count"></span>
            </span>
        </div>
    </div>
</div>
<div id="middle_main">
    <div class="content">
        <div id="bl1" class="bl">
            <div class="bl_int">
                <h2>Проверка компаний и ИП</h2>
                <ul>
                    <li><span class="icon-ok ok"></span>Стоп-сигналы</li>
                    <li><span class="icon-ok ok"></span>Взаимосвязи</li>
                    <li><span class="icon-ok ok"></span>Финансовое состояни</li>
                    <li><span class="icon-ok ok"></span>Банкротства, арбитраж</li>
                    <li><span class="icon-ok ok"></span>Участие в Госкзакупках</li>
                    <li><span class="icon-ok ok"></span>Мониторинг изменений</li>
                </ul>
                <div class="moving">
                    <a href="/Annonce/Check/" class="btns">Подробнее...</a>
                </div>

            </div>
        </div>
        <div id="bl2" class="bl">
            <div class="bl_int">
                <h2>Трансфертное ценообразование</h2>
                <ul>
                    <li><span class="icon-ok ok"></span>Контролируемые сделки</li>
                    <li><span class="icon-ok ok"></span>Расчет интервала рентабельности</li>
                    <li><span class="icon-ok ok"></span>Трансфертное ценообразование</li>
                </ul>
                <div class="moving">
                    <a href="/Annonce/TPrice/" class="btns">Подробнее...</a>
                </div>
            </div>
        </div>
        <div id="bl3" class="bl">
            <div class="bl_int">
                <h2>Работа с массивами данных</h2>
                <ul>
                    <li><span class="icon-ok ok"></span>Поиск товаров, заказчиков, поставщиков</li>
                    <li><span class="icon-ok ok"></span>Анализ госзакупок</li>
                    <li><span class="icon-ok ok"></span>Формирование баз юридических лиц по заданным критериям</li>
                </ul>
                <div class="moving">
                    <a href="/Annonce/Marketing/" class="btns">Подробнее...</a>
                </div>
            </div>
        </div>
        <div id="bl4" class="bl">
            <div class="bl_int">
                <h2> Информация по ценным бумагам</h2>
                <ul>
                    <li><span class="icon-ok ok"></span>Выпуски ценных бумаг</li>
                    <li><span class="icon-ok ok"></span>Дивиденды/купоны</li>
                    <li><span class="icon-ok ok"></span>Эмиссионные документы</li>
                    <li><span class="icon-ok ok"></span>Реестродержатель, владельцы</li>
                    <li><span class="icon-ok ok"></span>Итоги торгов</li>
                </ul>
                <div class="moving">
                    <a href="/Annonce/Action/" class="btns">Подробнее...</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="events" class="news_lines_block">
    <div class="content">
        <div class="left_col">
            <h1>Корпоративные события</h1>
            <ul class="news_lines" id="last_events_container"></ul>
            <div class="moving">
                <a href="/dbsearch/eventsearch/" class="btns">Перейти в раздел...</a>
            </div>
        </div>
        <div class="right_col">
            <h1>Последние сообщения</h1>
            
            <ul class="news_lines" id="last_reports_container"></ul>
            <div class="moving">
                <a href="/dbsearch/disclosure/" class="btns">Перейти в раздел...</a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
<div id="analitics" class="news_lines_block">
    <div class="content">
        <div class="left_col">
            <h1>Аналитика и статистика</h1>
            <ul class="news_lines" id="analitics_container"></ul>
            <div class="moving">
                <a href="/analytics/" class="btns">Перейти в раздел...</a>
            </div>
        </div>
        <div class="right_col">
            <h1>Новое на сайте</h1>
            <ul class="news_lines" id="site_updates_conteiner"></ul>
            <div class="moving">
                <a href="/news/" class="btns">Перейти в раздел...</a>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
