@model Skrin.Models.Iss.Content.BancryptcyMessage

@{
    Layout = null;
}
<style>
    #protocol_box .profile_table {
        float: none;
    }
</style>
<div id="protocol_box">
    <h1>@Model.CompanyName</h1>
    <h2>Сообщение о банкротстве</h2>
    <div style="width: 951px;" class="tline"></div>
    @for (int i = 0, i_max = Model.MessagesList.Count; i < i_max; i++)
    {
        <text>
        <br/>
        <i>Источник данных: @Model.MessagesList[i].SourceName</i>
        <br /><br />     
        <i>Дата публикации сообщения: @Model.MessagesList[i].RegDate</i>
        <br /><br /> 
        @Model.MessagesList[i].Contents
        <br/>
        <hr />
        </text>
    }

    <div class="explain" style="clear:both;padding-top:10px; ">
        ВНИМАНИЕ: Представленные сведения являются результатом обработки данных первоисточника. В связи с особенностями функционирования и обновления, указанного источника информации АО «СКРИН» не может гарантировать полную актуальность и достоверность данных.
    </div>
</div>
