@using serch_contra_bll.StopLightFreeEgrul.Info
@using Skrin.BLL.Infrastructure
@model AuthorizedReduceInfo
@{
    Layout = null;
}
@foreach (AuthorizedReduceInfoItem item in Model.Items)
{
    <table class="profile_table" cellspacing="0" cellpadding="0" border="0" style="width: 60%">
        <tr>
            <th style="width: 200px">Величина, на которую уменьшается уставный капитал (в рублях)</th>
            <td>@item.CostDifference.NullableToString("N0")</td>
        </tr>
        <tr>
            <th>Дата принятия решения об уменьшении уставного капитала</th>
            <td>@item.DateDesicion.ToRusString()</td>
        </tr>
        <tr>
            <th>Дата внесения записи в ЕГРЮЛ</th>
            <td>@item.GrnDate.ToRusString()</td>
        </tr>
        <tr>
            <th>Дата формирования сведений из ЕГРЮЛ</th>
            <td>@item.EgrulDate.ToRusString()</td>
        </tr>
    </table>
    <div style="clear: both; height: 10px;"></div>
}

