@using Skrin.BLL.Infrastructure
@model serch_contra_bll.StopLightFreeEgrul.Info.EgripInfo
@{
    Layout = null;
}
<table class="profile_table" cellspacing="0" cellpadding="0" border="0" style="width: 60%">
    <tr>
        <th style="width: 200px">Дата регистрации</th>
        <td>@Model.RegDate.ToRusString()</td>
    </tr>
    <tr>
        <th>ОГРНИП</th>
        <td>@Model.Ogrnip</td>
    </tr>
    <tr>
        <th>ИНН</th>
        <td>@Model.Inn</td>
    </tr>
</table>
<div style="clear: both; height: 10px;"></div>
