@using serch_contra_bll.StopLightFreeEgrul.Info
@model ProfitInfo
@{
    Layout = null;
}
<b>Источник данных: ГМЦ Росстата.</b><br />
<b>Период: @ViewBag.BalanceYear г.</b>
<div style="clear: both; height: 10px;"></div>
<table cellspacing="0" cellpadding="0" border="0" style="width: 60%" class="profile_table">
    <tr><th width="200px">Чистая прибыль (убыток) :</th><td>@Model.ProfitVal.ToString("N0") руб.</td></tr>
</table>


