@using serch_contra_bll.StopLightFreeEgrul.Info
@using Skrin.BLL.Infrastructure
@model RegEgrulInfo
@{
    Layout = null;
}
@foreach (RegEgrulInfoItem item in Model.Items)
{
    <table class="profile_table" cellspacing="0" cellpadding="0" border="0" style="width: 95%">
        <tr>
            <th style="width: 200px">Наименование вида записи (причины внесения записи в ЕГРЮЛ)</th>
            <td>@item.Name</td>
        </tr>
        <tr>
            <th>ГРН и дата внесения записи в ЕГРЮЛ</th>
            <td>@item.GrnNo<br/>@item.GrnDate.ToRusString()</td>
        </tr>
        <tr>
            <th>Дата формирования сведений из ЕГРЮЛ</th>
            <td>@item.EgrulDate.ToRusString()</td>
        </tr>
    </table>
    <div style="clear: both; height: 10px;"></div>
}

