@using serch_contra_bll.StopLightFreeEgrul.Info
@using Skrin.BLL.Infrastructure
@model StopIpInfo
@{
    Layout = null;
}
@foreach (StopIpInfoItem item in Model.Items)
{
    <table class="profile_table" cellspacing="0" cellpadding="0" border="0" style="width: 95%">
        <tr>
            <th style="width: 200px">Наименование способа прекращения</th>
            <td>@item.StopMethodName</td>
        </tr>
        <tr>
            <th>Дата прекращения деятельности</th>
            <td>@item.StopDate.ToRusString()</td>
        </tr>
        <tr>
            <th>ГРНИП и дата внесения записи в ЕГРИП</th>
            <td>@item.Grnip<br />@item.GrnipDate.ToRusString()</td>
        </tr>
    </table>
    <div style="clear: both; height: 10px;"></div>
}

