@using serch_contra_bll.StopLightFreeEgrul.Info
@using Skrin.BLL.Infrastructure
@model StopInfo
@{
    Layout = null;
}
@foreach (StopInfoItem item in Model.Items)
{
    <table class="profile_table" cellspacing="0" cellpadding="0" border="0" style="width: 95%">
        <tr>
            <th style="width: 200px">Наименование способа прекращения</th>
            <td>@item.StopMethodName</td>
        </tr>
        <tr>
            <th>Дата прекращения юридического лица</th>
            <td>@item.StopDate.ToRusString()</td>
        </tr>
        <tr>
            <th>Дата внесения записи в ЕГРЮЛ</th>
            <td>@item.GrnDate</td>
        </tr>
        <tr>
            <th>Дата формирования сведений из ЕГРЮЛ</th>
            <td>@item.EgrulDate.ToRusString()</td>
        </tr>
    </table>
    <div style="clear: both; height: 10px;"></div>
}

