@using Skrin.Models.Iss.StopLight;
@using Skrin.BLL.Infrastructure
@model List<Dictionary<int, TableRowBlock>>
@{
    Layout = null;
}
@foreach (var table in Model)
{
    <table class="profile_table" cellspacing="0" cellpadding="0" border="0" style="width: 95%">
        @foreach (TableRowBlock block in table.Values)
        {
            <tr>
                <th colspan="2">@block.BlockHeader</th>
            </tr>
            foreach (TableRow row in block.Rows)
            {
                <tr>
                    <th>@row.RowHeader</th>
                    <td>@row.RowValue</td>
                </tr>
            }
        }
    </table>
    <div style="clear: both; height: 10px;"></div>
}

