@{
    ViewBag.Title = "About";
}
@section Css{
    <link href="~/Content/company.css" rel="stylesheet" />
}

<div class="content">
    <div id="text_container">
        <h1>Описание, источники</h1>
        <p>База данных СКРИН — это крупнейшая база данных юридических лиц России, Украины и Казахстана.</p>
        <p>На русском языке база (<a href="www.skrin.ru" target="_blank">www.skrin.ru</a>) данных содержит информацию по <b>10 471 583</b> компаниям и <b>12 480 979</b> индивидуальным предпринимателям Российской Федерации, <b>8 458</b> компаниям-эмитентам Украины и <b>366 995</b> компаниям Казахстана.</p>
        <p>На английском языке база (<a href="www.skrin.com" target="_blank">www.skrin.com</a>) данных содержит информацию по <b>57 278</b> компаниям.</p>
        <p>База СКРИН позволяет проверить любое юридическое лицо и индивидуального предпринимателя на территории РФ на основе актуальных данных, полученных из официальных источников.</p>
        <p>Основные источники информации:</p>
            <div align="left" style="padding: 10px 0 10px 0;">
                <img src="/images/source_1.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_2.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_3.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_4.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_5.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_6.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_7.png" width="75" />&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/images/source_8.png" width="75" />
            </div>
        <p>С помощью сервиса можно оценить финансовое состояние компании, узнать владельцев и проследить аффилированность, наличие судебных дел, проанализировать объем выигранных госзаказов, выявить признаки фирмы-однодневки. Сервис мониторинга позволяет в автоматическом режиме отслеживать изменения в ЕГРЮЛ, арбитражных дел и сообщений о банкротстве по Вашему списку компаний.</p>
        <p>База СКРИН позволяет формировать отчеты и выборки по компаниям, участвующим в системе гос. закупок, найти компании по любым критериям (регион, отрасль, дата регистрации) или сравнить компании по основным финансовым показателям.</p>
        <p>Для расчета интервалов рентабельности в Базе СКРИН есть сервис по трансфертному ценообразованию.</p>
        <p>Более подробно с функционалом базы данных СКРИН можно ознакомиться в разделе <a href="~/Docs/user_manual.pdf">Руководство пользователя</a>.</p>
</div>
</div>