
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="~/Content/company.css" rel="stylesheet" />
    <style>
        ol, ul {
            padding-left: 10px;
        }

            ol li {
                list-style-type: none;
            }
        /* Убираем исходную нумерацию у списка */
        ol {
            counter-reset: list1;
        }
            /* Инициируем счетчик */
            ol li:before {
                counter-increment: list1; /* Увеличиваем значение счетчика */
                content: counter(list1) ". "; /* Выводим число */
            }

            ol ol {
                counter-reset: list2;
            }
                /* Инициируем счетчик вложенного списка */
                ol ol li:before {
                    counter-increment: list2; /* Увеличиваем значение счетчика вложенного списка */
                    content: counter(list1) "." counter(list2) ". "; /* Выводим число */
                }
    </style>
}

<div class="content">
    <div id="text_container">
        <h1>Настройки браузера</h1>
        <h3>Если у Вас:</h3>
        <ul>
            <li>Не прогружаются формы,</li>
            <li>Не сохраняются файлы,</li>
            <li>Не проходит авторизация,</li>
        </ul>
        <br/>возможная проблема – настройки Вашего браузера.

        <h3>Решение проблемы:</h3>

        <h4>Для Microsoft Internet Explorer:</h4>

        <ol>
            <li>
                Внести сайт в список доверенных.
                <ol>
                    <li>Меню Сервис->Свойства обозревателя->Безопасность. (Tools->Internet options->Security) Выбрать «Надежные узлы»(Trusted sites).</li>
                    <li>Нажать кнопку «Узлы» (Sites).</li>
                    <li>В Поле «Добавить узел в зону» (Add this web site to the zone) ввести адрес сайта - www.skrin.ru.</li>
                    <li>Снять галочку «для всех узлов этой зоны требуется проверка серверов (https:) (Require server verification).</li>
                    <li>Нажать кнопку «Добавить» (Add).</li>
                    <li>Нажать кнопку «OK».</li>
                    <li>Не закрывая окно «Свойства обозревателя» (Internet options) и не выбирая другую зону, проверить «уровень безопасности для этой зоны» (Security level for this zone). Должен стоять «низкий»(Low). Если выбран «другой» (Custom), то нажать на кнопку «По умолчанию» (Default Level).</li>
                    <li>Нажать кнопку «ОК».</li>
                    <li>Выйти из Microsoft Internet Explorer.</li>
                    <li>Запустить Microsoft Internet Explorer заново.</li>
                    <li>Убедиться, что в строке состояния в правом нижнем углу, когда открыт сайт www.skrin.ru, вместо зоны «Интернет» - зона «Зона надежные узлы».</li>
                </ol>
            </li>
            <li>Разрешить Cookies.
                <ol>
                    <li>Меню Сервис->Свойства обозревателя->Конфиденциальность->Дополнительно. (Tools->Internet options->Privacy->Advanced) Убрать галочку «Перекрыть автоматическую обработку cookie» (Override automatic cookie handle)</li>
                </ol>
            </li>
        </ol>

        <h4>Для Mozilla Firefox:</h4>
        <ol>
            <li>Если установлен плагин «NoScript» - в правом нижнем углу большая кнопка «Настройки». Установить «Разрешить всё для этого сайта».</li>
            <li>Если нет плагина или после установок все равно не работает, попробовать зайти под Microsoft Internet Explorer, предварительно, сообщив менеджеру СКРИН о смене настроек.</li>
        </ol>
        
    </div>
</div>

