@{
    ViewBag.Title = "Monitor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <link href="~/Content/company.css" rel="stylesheet" />
    <link href="~/Content/search.css" rel="stylesheet" />
}
<div class="sub_menu">
    <div class="content">
        <ul class="search_tabs" style="margin-top:-15px;">
            <li><span><a href="/company/access/">Подписка</a></span></li>
            <li><span><a href="/api/">API</a></span></li>
            <li class="active"><span>Мониторинг</span></li>
        </ul>
    </div>
</div>
<div class="content" style="min-height:1370px;">
    <div id="tab_content">
        <h1>Мониторинг изменений в ЕГРЮЛ/ЕГРИП</h1>
        <table width="100%" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td class="table_caption_left">Количество ЮЛ/ИП</td>
                    <td class="table_caption" style="width:112px; text-align:center;">Цена, руб/год</td>
                   
                </tr>
               
                <tr>
                    <td class="bolder">1 000</td>
                    <td class="table_item_center" style="width:112px;">10 000</td>
                   
                </tr>
                <tr>
                    <td class="bolder">500</td>
                    <td class="table_item_center" style="width:112px;">7 500</td>
                </tr>
                <tr>
                    <td class="bolder">50</td>
                    <td class="table_item_center" style="width:112px;">1 500</td>
                </tr>
                
            </tbody>
        </table>
        
        <br />
        <img src="~/images/null.gif" height="50px" />
    </div>
</div>

