@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link href="~/Content/company.css" rel="stylesheet" />
}

<div class="content">
    <div id="text_container">
        <h1>Установочные программы, необходимые для просмотра документов, содержащихся в базе</h1>
        <div class="res_item">
            <div class="check_block" onclick="window.open('http://ardownload.adobe.com/pub/adobe/reader/win/9.x/9.3/enu/AdbeRdr930_en_US.exe', '_blank');"><span class="icon-file-pdf pdf d_icon"></span></div>
            <div class="info_block"><a href="http://ardownload.adobe.com/pub/adobe/reader/win/9.x/9.3/enu/AdbeRdr930_en_US.exe" target="_blank">ADOBE READER (для просмотра файлов с расширением *.pdf)</a></div>
        </div>
        <div class="res_item">
            <div class="check_block" onclick="window.open('/Docs/fa_setup27em.zip', '_blank');"><span class="icon-file-archive archive d_icon"></span></div>
            <div class="info_block"><a href="/Docs/fa_setup27em.zip" target="_blank">Электронная анкета ФСФР России от 19 марта 2003 года (для просмотра файлов с расширением *.smm)</a></div>
        </div>
        <div class="res_item">
            <div class="check_block" onclick="window.open('/Docs/AnketaFFMS_31_03_15.zip', '_blank');"><span class="icon-file-archive archive d_icon"></span></div>
            <div class="info_block"><a href="/Docs/AnketaFFMS_31_03_15.zip" target="_blank">Программа-анкета для ежеквартального отчета эмитентов ФСФР России. Версия 3.0.8 (23 июля 2012 г.) (для просмотра файлов с расширением *.xml)</a></div>
        </div>
        <div class="res_item">
            <div class="check_block" onclick="window.open('/Docs/AnketaFFMS_31_03_15_1.zip', '_blank');"><span class="icon-file-archive archive d_icon"></span></div>
            <div class="info_block"><a href="/Docs/AnketaFFMS_31_03_15_1.zip" target="_blank">Электронная анкета для составления ежеквартальных отчетов, версия 3.0.9 (для просмотра файлов с расширением *.xml)</a></div>
        </div>
        <div class="res_item">
            <div class="check_block" onclick="window.open('/Docs/package.zip', '_blank');"><span class="icon-file-archive archive d_icon"></span></div>
            <div class="info_block"><a href="/Docs/package.zip" target="_blank">Электронная анкета для составления ежеквартальных отчетов, версия 3.0.9 (для ручной установки) (для просмотра файлов с расширением *.xml)</a></div>
        </div>

        <div class="res_item">
            <div class="info_block"><a href="/Company/Ask">Оставить запрос</a></div>
        </div>
     </div>
</div>

