
@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Css{
    <link href="~/Content/company.css" rel="stylesheet" />
}

<div class="content" style="min-height:1800px;">
    <div style="margin-bottom:50px;">
        <h1>Правила пользования базой данных СКРИН и сайтом www.skrin.ru</h1>
        <p>Указанные ниже правила пользования представляют собой соглашение между АО «СКРИН» и Пользователем базы данных СКРИН и сайта www.skrin.ru, на условиях которого осуществляется использование информации, содержащейся в базе данных СКРИН и на сайте www.skrin.ru</p>
        <h3>1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
        <ol>
            <li>Используя сайт www.skrin.ru и базу данных СКРИН, Пользователь принимает условия настоящего соглашения. СКРИН оставляет за собой право изменять данные условия без предварительного уведомления Пользователя. Новые условия вступают в силу через пять дней с момента их утверждения приказом Генерального директора или иного уполномоченного лица и последующего размещения их на сайте www.skrin.ru.</li>
            <li>Права АО «СКРИН» на базу данных СКРИН и средства массовой информации подтверждаются следующими свидетельствами: Свидетельство «Об официальной регистрации базы данных» № 990151 (выдано Российским агентством по патентам и товарным знакам (РОСПАТЕНТ), 28.04.2000 г.); Свидетельство «О регистрации средства массовой информации» № 77-6624 (выдан Министерством РФ по делам печати, телерадиовещания и средств массовых коммуникаций, 05.11.2002 г.)</li>
            <li>Информация, размещаемая на сайте и/или в базах данных СКРИН, не является конфиденциальной.</li>
            <li>Использование и цитирование информации, размещенной на сайте или в базе данных СКРИН, допускается только с письменного разрешения АО «СКРИН» с обязательной ссылкой на сайт в виде гиперссылки www.skrin.ru. Иное цитирование и использование является нарушением действующего законодательства и прав АО «СКРИН».</li>
            <li>В случае выявления действий, способных нарушить функционирование сайта www.skrin.ru или базы данных СКРИН (чрезмерная интенсивность запросов, формирование заведомо некорректных запросов к базе данных, использование ПО, за исключением веб-браузеров, попытки доступа к исходному коду страниц сайта, несанкционированного доступа к базе данных), возможно частичное или полное блокирование доступа к сайту и базе данных СКРИН IP-адреса компьютера, с которого производились указанные действия.</li>
        </ol>
        <h3>2. МИНИМАЛЬНЫЕ ТРЕБОВАНИЯ К ОБОРУДОВАНИЮ</h3>
        <ol>
            <li>
                АО «СКРИН» обязуется обеспечить техническую возможность доступа Пользователя к базе данных СКРИН в сети Интернет с использованием индивидуального системного имени и пароля только при условии, что техническое оснащение Пользователя отвечает следующим требованиям:
                <ul>
                    <li>средства доступа в глобальную сеть Интернет со скоростью не менее 32000 bps;</li>
                    <li>компьютер с установленной операционной системой Windows XP SP2, Vista,7,8, Microsoft Internet Explorer 8, Firefox 11 или старше.</li>
                </ul>
            </li>
            <li>Использование других типов операционных систем и/или других браузеров возможно, но при их использовании не гарантируется доступ ко всем функциям базы данных СКРИН и сайта www.skrin.ru.</li>
        </ol>
        <h3>3. ИСПОЛЬЗОВАНИЕ БАЗЫ ДАННЫХ</h3>
        <h4>Использование базы данных не зарегистрированными пользователями</h4>
        <ol>
            <li>
                Виды информации, содержащиеся в базе данных СКРИН<br />
                Информация, содержащаяся в базе данных в СКРИН, подразделяется на две группы:
                <ul>
                    <li>
                        Общедоступная информация<br />
                        Общедоступной признается такая информация, доступ к которой осуществляется беспрепятственно всеми пользователями. Под доступом понимается предоставление пользователям права публичного просмотра. Состав общедоступной информации определяется АО «СКРИН» самостоятельно. Примечание: иное использование такой информации без согласования с АО «СКРИН» не допускается.
                    </li>
                    <li>
                        Информация, предоставляемая за плату<br />
                        Информацией, предоставляемой за плату признается информация, доступ к которой предоставляется пользователю в соответствии с договором о предоставлении права на использование базы данных СКРИН.
                    </li>
                </ul>
            </li>
            <li>
                Права на пользование информации, содержащейся в базе данных СКРИН<br />
                Право на использование базы данных СКРИН предоставляется путем присвоения пользователю системного имени и пароля, с помощью которых пользователь через сеть Интернет осуществляет доступ к базе данных без ограничения по времени. Пользователь получает право на извлечение и сохранение на своих носителях информации из базы данных СКРИН, на использование информации для подготовки отчетов и других внутренних документов.
            </li>
            <li>
                Ограничения по использованию базы данных СКРИН<br />
                Пользователь обязан соблюдать следующие ограничения при использовании базы данных СКРИН:
                <ul>
                    <li>не использовать программные средства, имитирующие работу пользователя;</li>
                    <li>не использовать анонимные прокси-серверы для доступа к базе данных СКРИН;</li>
                    <li>использовать информацию из базы данных СКРИН только для собственных нужд, не распространять информацию, содержащуюся в базе данных СКРИН, в любой форме или ее составляющие среди третьих лиц без предварительного письменного разрешения Правообладателя.</li>
                </ul>
            </li>
        </ol>
        <h4>Использование базы данных зарегистрированными пользователями</h4>
        <ol>
            <li>Ограничения по использованию базы данных СКРИН Пользователь обязан соблюдать следующие ограничения при использовании базы данных СКРИН:
                <ul>
                    <li>Не передавать третьим лицам системное имя и пароль, используемые для доступа к базе данных СКРИН;</li>
                    <li>Не использовать программные средства, имитирующие работу пользователя;</li>
                    <li>Не использовать анонимные прокси-серверы для доступа к базе данных СКРИН;</li>
                    <li>Запрещается одновременное использование базы данных СКРИН более чем на одном компьютере;</li>
                    <li>Использовать информацию из базы данных СКРИН только для собственных нужд, не распространять информацию, содержащуюся в базе данных СКРИН, в любой форме или ее составляющие среди третьих лиц без предварительного письменного разрешения Правообладателя;</li>
                    <li>Использовать полученное по договору право пользование базой данных СКРИН в пределах, предусмотренных договором и действующим законодательством Российской Федерации.</li>
                </ul>
            </li>
            <li>Порядок смены системного имени и пароля и проведения проверок правильности их использования:<br/>
                <ol>
                    <li>Правообладатель вправе проводить смену системного имени и пароля Пользователя с предварительным уведомлением об этом Пользователя;</li>
                    <li>Правообладатель по своему усмотрению осуществляет проверки правильности использования системного имени и пароля Пользователя для выявления несанкционированного доступа к базе данных СКРИН третьими лицами.</li>
                    <li>В случае обнаружения систематического (более 2 раз) несанкционированного доступа к базе данных СКРИН третьими лицами с использованием системного имени и пароля Пользователя Правообладатель вправе самостоятельно изменить системное имя и пароль Пользователя, известив об этом Пользователя не позднее 1 дня до изменения.</li>
                    <li>В случае обнаружения систематического (более 2 раз) несанкционированного доступа к базе данных СКРИН третьими лицами с использованием системного имени и пароля Пользователя после их изменения в порядке, предусмотренном настоящим пунктом, Правообладатель вправе досрочно прекратить пользование базой данных СКРИН.</li>
                    <li>Пользователь вправе обращаться к Правообладателю с просьбой об изменении системного имени и пароля. Правообладатель присваивает Пользователю новое системное имя и пароль в срок не позднее 3 дней с момента обращения Пользователя в случае, если сочтет такую замену обоснованной.</li>
                </ol>
            </li>
        </ol>
        <h3>4. Порядок обращения пользователя при отсутствии доступа к базе данных СКРИН</h3>
        <ol>
            <li>В случае отсутствия доступа к базе данных СКРИН поддержка Пользователей базы осуществляется по телефону или по электронной почте с 9.00 до 18.00 (по Московскому времени) по рабочим дням. Ответ на обращение, поступившее по электронной почте, будет отправлен Пользователю в течение одного рабочего дня с момента получения запроса. Рассматриваться будут только те обращения, в которых приведены данные (контактное лицо, название организации, системное имя пользователя), позволяющие идентифицировать Пользователя.</li>
        </ol>
        <h3>5. Заявление о гарантиях и ответственности</h3>
        <ol>
            <li>Информация, публикуемая на сайте и размещаемая в базе данных СКРИН, предоставляется без каких-либо гарантий. Правообладатель не гарантирует точности информации, заявленной прямо или косвенно для любых целей, а также не гарантирует ее выгодность при продаже или пригодность для определенной цели. Правообладатель не несет ответственности за какие-либо убытки или ущерб, возникшие в результате использования любым Пользователем информации, содержащейся в базе данных СКРИН; за содержание этой информации, её возможное несоответствие действующему законодательству Российской Федерации; за любой прямой или косвенный ущерб и упущенную выгоду, вызванные использованием такой информации; за последствия применения полученной информации.</li>
            <li>Сведения, указывающие на источник информации размещены, в каждом соответствующем разделе базы данных СКРИН.</li>
        </ol>
    </div>
</div>

