@model Skrin.Models.ProfileKZ.ProfileKZControls
@{
    Layout = null;
}

<div class="left_content KZ_codes">
    <div class="subcaption">Органы управления и контроля</div>
    Период: <select id="period" class="system_form" onchange="goPeriod(this.value)">
        @foreach (var date in Model.dates)
        {
            <option value="@date.daterep"  @(((date.cur == 1)||(Model.dates.Count == 1)) ? "selected" : "")>@date.daterep</option>
        }
    </select>
    <br/><br/>
    <div class="info_block">
        <table class="profile_table" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th width="30%">Руководитель</th>
                    <td>@Model.Manager</td>
                </tr>
        </table>
    </div>
    <div class="explain" style="margin-top:20px;margin-left:20px;">
        Источник данных: РГП «ИВЦ Агентства РК по статистике»
    </div>
</div>

<script>   
    function goPeriod()
    {
        var date = $('select#period option:selected').val();
        $.get("/TabKZ/", { "id": 5, "ticker": ISS, "PG": 1,"date" :  date}, function (data) {
            hideClock();
            if ($("#tabId").length == 0) $("#tab_content").after('<input type="hidden" id="tabId" value="5"/>');
            $("#tab_content").html(data);
        }, "html");
    }
</script>