#contract_content{

}



#contract_blocks{

}

.contract_block{
    margin: 20px 0;
}

.contract_block h2{
    font-size: 18px;
    margin: 10px 0;
}

.contract_table, .modal-content .contract_table{
    border: 1px solid #666;
    border-collapse: collapse;
    width: 95%;
}

.contract_table td, .contract_table th, .modal-content .contract_table td, .modal-content .contract_table th{
   border: 1px solid #666;
    padding: 2px 5px;
}

.vert th {
    width: 40%;
    text-align:right;
    padding-right:20px;
}
