
.registry-plan{
    border-collapse: collapse;
    display: table;
}

.registry-plan__row{
    display: table-row;
}

.registry-plan__left{
    border: 1px solid #ddd;
    border-collapse: collapse;
    display: table-cell;
    padding: 5px 20px 5px 5px;
    width: 50%;
}

.registry-plan__right{
    border: 1px solid #ddd;
    border-collapse: collapse;
    display: table-cell;
    padding: 5px 20px 5px 5px;
}