* {
  outline: none;
}
html,
body {
  height: 100%;
}
body {
  font: 15px/20px 'Raleway', Tahoma, sans-serif;
  color: #000;
  background: #fff;
  font-weight: 400;
  min-width: 1200px;
}
body .container{
  width: 1200px;
}
body .container .error {
  color: #a94442;
}
.full-wrapper {
  min-height: 100%;
}
.full-wrapper .has-feedback .form-control-feedback {
  top: auto;
  bottom: 0;
}
.danger {
  color: #a94442;
}
a {
  color: #f85c37;
  text-decoration: none;
  transition: color 0.1s ease-in-out, background 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
a:hover,
a:focus,
a:active {
  color: #333;
  outline: none;
  text-decoration: none;
}
a.btn,
button,
input[type=submit],
button.btn,
input[type=submit].btn {
  border-radius: 0;
  background: transparent;
  color: #f85c37;
  border: 1px solid #f85c37;
  padding: 10px 14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  white-space: normal;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}
a.btn:hover,
button:hover,
input[type=submit]:hover,
button.btn:hover,
input[type=submit].btn:hover {
  background: #f85c37;
  border: 1px solid #f85c37;
  color: #fff;
}
a.btn:focus,
button:focus,
input[type=submit]:focus,
button.btn:focus,
input[type=submit].btn:focus,
a.btn:active,
button:active,
input[type=submit]:active,
button.btn:active,
input[type=submit].btn:active,
a.btn:active:focus,
button:active:focus,
input[type=submit]:active:focus,
button.btn:active:focus,
input[type=submit].btn:active:focus,
a.btn.active:focus,
button.active:focus,
input[type=submit].active:focus,
button.btn.active:focus,
input[type=submit].btn.active:focus {
  text-decoration: none;
  outline: none;
  border: 1px solid #f85c37;
}
.form-control,
input[type=text],
select,
textarea,
input[type=password],
input[type=tel],
input[type=email],
input[type=file] {
  border: 1px solid #ccc;
  border-radius: 0;
  background: #fff;
  box-shadow: none;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #333;
  font-weight: 400;
}
.form-control:focus,
input[type=text]:focus,
select:focus,
textarea:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=file]:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=file]::-webkit-input-placeholder {
  color: #b9b9b9;
}
.form-control::-moz-placeholder,
input[type=text]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=file]::-moz-placeholder {
  color: #b9b9b9;
}
.form-control:-moz-placeholder,
input[type=text]:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=file]:-moz-placeholder {
  color: #b9b9b9;
}
.form-control:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=file]:-ms-input-placeholder {
  color: #b9b9b9;
}
.form-control.error,
input[type=text].error,
select.error,
textarea.error,
input[type=password].error,
input[type=tel].error,
input[type=email].error,
input[type=file].error {
  border-color: #eb8e81;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(169, 68, 66, 0.6);
}
.form-control.error::-webkit-input-placeholder,
input[type=text].error::-webkit-input-placeholder,
select.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder,
input[type=password].error::-webkit-input-placeholder,
input[type=tel].error::-webkit-input-placeholder,
input[type=email].error::-webkit-input-placeholder,
input[type=file].error::-webkit-input-placeholder {
  color: #a94442;
}
.form-control.error::-moz-placeholder,
input[type=text].error::-moz-placeholder,
select.error::-moz-placeholder,
textarea.error::-moz-placeholder,
input[type=password].error::-moz-placeholder,
input[type=tel].error::-moz-placeholder,
input[type=email].error::-moz-placeholder,
input[type=file].error::-moz-placeholder {
  color: #a94442;
}
.form-control.error:-moz-placeholder,
input[type=text].error:-moz-placeholder,
select.error:-moz-placeholder,
textarea.error:-moz-placeholder,
input[type=password].error:-moz-placeholder,
input[type=tel].error:-moz-placeholder,
input[type=email].error:-moz-placeholder,
input[type=file].error:-moz-placeholder {
  color: #a94442;
}
.form-control.error:-ms-input-placeholder,
input[type=text].error:-ms-input-placeholder,
select.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder,
input[type=password].error:-ms-input-placeholder,
input[type=tel].error:-ms-input-placeholder,
input[type=email].error:-ms-input-placeholder,
input[type=file].error:-ms-input-placeholder {
  color: #a94442;
}
.form-control.error + .form-control-feedback,
input[type=text].error + .form-control-feedback,
select.error + .form-control-feedback,
textarea.error + .form-control-feedback,
input[type=password].error + .form-control-feedback,
input[type=tel].error + .form-control-feedback,
input[type=email].error + .form-control-feedback,
input[type=file].error + .form-control-feedback {
  color: #a94442;
}
img {
  max-width: 100%;
}
table {
  border: 1px solid #ccc;
  width: 100% !important;
  margin-bottom: 20px;
  max-width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  vertical-align: middle;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 1px solid #ccc;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ccc;
}
table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.leftimg {
  float: left;
  margin-right: 15px;
}
.rightimg {
  float: right;
  margin-left: 15px;
}
.mfp-close:hover,
.mfp-close:focus,
.mfp-close:active,
.mfp-close:active:focus,
.mfp-close.active:focus {
  margin: 0;
  background: transparent;
  border: none;
}
.mfp-arrow:hover,
.mfp-arrow:focus,
.mfp-arrow:active,
.mfp-arrow:active:focus,
.mfp-arrow.active:focus {
  background: transparent;
  border: none;
}
b,
strong,
th,
label {
  font-weight: 700;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
.form-group span.fa {
  font-size: 18px;
  line-height: 34px;
  bottom: 0;
  top: auto;
  color: #666;
}
.btn-group a {
  margin-right: 3px;
  margin-bottom: 3px;
}
.modal-block {
  background: #fff;
  padding: 20px 40px 30px;
  margin: 0 auto;
  width: 450px;
}
.modal-block-name {
  margin: 20px 0 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
}
.image-page {
  display: table;
  width: 100%;
  background: #666;
}
.image-page a.zoom-gal {
  display: table-cell;
  vertical-align: top;
  padding-right: 1px;
  transition: opacity 0.1s ease-in-out;
  opacity: .8;
}
.image-page a.zoom-gal:last-child {
  padding-right: 0;
  padding-left: 1px;
}
.image-page a.zoom-gal:hover {
  opacity: 1;
}
.btn-top-top {
  display: none;
  position: fixed;
  z-index: 11;
  right: 20px;
  bottom: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.btn-top-top:hover {
  background: rgba(0, 0, 0, 0.5);
}

/*** HEADER ***/

.header-main {
  text-align: center;
  height: 700px;
  background-repeat: no-repeat;
  /*background-color: #000;*/
  background-image:url(/images/veep.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header-main::after{
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0,0,0,.2);*/
}
.header-top{
  position: absolute;
    z-index: 10;
    width: 100%;
    bottom: 10%;
  z-index: 10;
}
.header-fixed {
  position: fixed;
  top: 0;
  z-index: 111;
  margin-top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}
.contacts-top {
  text-align: right;
  font-size: 15px;
}
.contacts-top p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-left: 30px;
}
.contacts-top p:first-child {
  margin-left: 0;
}
.logo {
  text-align: center;
  margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}
.download-links{
  font-size: 0;
}
.download-links a{
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0,0,0,0.25);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

#menuToggle:hover {
  color: #ffffff;
  background: rgba(0,0,0,0.2);
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

.menu {
  position: fixed;
  z-index: 21;
  right: -300px;
  width: 360px;
  height: 100%;
  top: 0;
  text-align: left;
  transition: right .3s ease-in-out;
}

.menu.menu-open {
  right: 0px;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  background: #1a1a1a;
  width: 300px;
  height: 100%;
  list-style: none;
}

.menu .logo-menu a {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
}

.menu .logo-menu a:hover {
  color: #f85c37;
}

.menu img.logo {
  margin: 20px 0;
  max-width: 160px;
}

.menu a {
  color: #808080;
  display: block;
  font-size: 12px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu a:hover,
.menu li.active a {
  color: #fff;
}

.menu a > i {
  float: left;
  display: inline-block;
  vertical-align: middle; 
  text-align: left;
  width: 25px;
  font-size: 14px;
  line-height: 40px;
  margin: 25px 2px;
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all .1s ease-in-out;
     -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
     -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
}

/*** HEADER END ***/

/*** SLIDER ***/

.slider {
  position: relative;
  background: #000;
}
.slider .slick-slider {
  margin: 0;
}
.slider img {
  margin: 0 auto;
  opacity: 0.9 !important;
}
.slider .slider-overlay img {
  opacity: 0.6 !important;
}
.slider .slick-dots {
  margin: 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.slider .slick-dots li {
  margin: 0 8px;
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
}
.slider .slick-dots .slick-active button {
  background: #fff;
  width: 12px;
  height: 12px;
}
.slider .slick-dots button {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f85c37;
}
.slider .slick-dots button:hover {
  background: #fff;
  width: 12px;
  height: 12px;
}
.slider .slick-dots button::before,
.slider .slick-dots button::after {
  display: none;
}
.slider .slick-prev,
.slider .slick-next {
  position: absolute;
  top: auto;
  left: 50%;
  bottom: 24px;
  border-radius: 0;
  background: transparent;
  width: 44px;
  padding: 0;
  color: #fff;
  height: 30px;
  line-height: 28px;
  border: 1px solid #fff;
  text-align: center;
}
.slider .slick-prev:hover,
.slider .slick-next:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}
.slider .slick-prev:active,
.slider .slick-next:active,
.slider .slick-prev:focus,
.slider .slick-next:focus {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.slider .slick-prev:active:hover,
.slider .slick-next:active:hover,
.slider .slick-prev:focus:hover,
.slider .slick-next:focus:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 28px;
  transition: opacity 0.1s ease-in-out;
}
.slider .slick-prev {
  margin-left: -51px;
}
.slider .slick-prev:before {
  content: "\f053";
  margin-left: -1px;
}
.slider .slick-next {
  margin-left: 7px;
}
.slider .slick-next:before {
  content: "\f054";
  margin-left: 1px;
}
.slider-content {
  position: absolute;
  height: 220px;
  width: 80%;
  left: 10%;
  top: 50%;
  margin-top: -115px;
  color: #fff;
  text-align: center;
  padding: 30px 20px 40px;
  overflow: hidden;
}
.slider-content .slider-name {
  font-size: 40px;
  line-height: 40px;
  height: 42px;
  overflow: hidden;
  font-weight: 700;
  margin-bottom: 25px;
  margin-top: 0;
  text-transform: uppercase;
}
.slider-content .slider-text {
  max-height: 60px;
  font-size: 17px;
  line-height: 20px;
  overflow: hidden;
}
.slider-content .slider-btn {
  margin-top: 30px;
}

.carousel-partners .slick-next,
.carousel-partners .slick-prev{
    border: 1px solid #fff;
    font-size: 20px;
    color: #000;
}

.carousel-partners .slick-next:hover,
.carousel-partners .slick-prev:hover{
    color: #fff;
    background: #333;
}

.carousel-partners .partner-img-block{
    height: 165px;
    line-height: 165px;
    text-align: center;
}

.carousel-partners .partner-img-block img{
    display: inline-block;
    vertical-align: middle;
}

/*** SLIDER END ***/

/*** BLOKS ***/

.page-header {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
  border-bottom: none;
}
.block-item {
  padding: 80px 0;
}
.block-item:nth-child(2n){
  background: #f2f2f2;
}

/*** BLOKS END ***/

/*** ADVANTAGES ***/

.advantage-item{
  text-align: center;
  padding: 0 15px;
  margin-bottom: 40px;

}
.advantage-title{

}
.advantage-intro{
  color: #6b6c6e;
  text-align: justify;
  line-height: 1.2;
}

/*** ADVANTAGES END ***/
/*** FOOTER ***/
.pushfooter {
  height: 80px;
}

.footer-main {
  margin-top: -80px;
  margin-bottom: 0;
  line-height: 32px;
  min-height: 80px;
  background: #333;
  color: #fff;
  padding: 20px 0;
}
.social-block {
  text-align: center;
}
.social-block .social-buttons-item.goodshare {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  width: 35px;
  height: 35px;
  line-height: 33px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  margin-left: 8px;
}
.social-block .social-buttons-item.goodshare:hover {
  color: #f85c37;
  border-color: #f85c37;
}
.social-block .social-buttons-item.goodshare:first-child {
  margin-left: 0;
}
.footer-links {
  text-align: right;
}
.footer-links a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.footer-links a:first-of-type {
  margin-left: 0;
}
.footer-links a:first-child {
  margin-left: 0;
}
.map-bottom,
.map-block {
  margin: 30px 0;
}

.text-big{
  font-weight: 700;
  text-transform: uppercase;
  color: #2f2f2f;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 85px;
}

.text-big span{
  color: #7b7b7b;
}
.work-item-list{
    display: table;
    width: 100%;
    text-align: center;
}
.work-item{
    display: table-cell;
    vertical-align: top;
  text-align: center;
  width: 234px;
  font-size: 16px;
  line-height: 22px;
  padding: 0 20px;
}

.work-item p{
  margin: 20px 0 0;
}

.carousel-partners-tpl{
  padding: 0 15px;
  line-height: 165px;
  margin-bottom: 30px;
  text-align: center;
}

.carousel-partners{
  text-align: center;
  margin: 0;
}

.carousel-partners .slick-prev,
.carousel-partners .slick-next {
  margin: 0 5px;
  padding: 0;
  width: 40px;
  height: 30px;
  line-height: 0;
}

.contacts-all{
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}