.annonce_left{
    float: left;
    margin: 0 0 30px 30px;
    text-align: justify;
    width: 750px;
}

.annonce_right{
    float: right;
    width: 340px;
}
.annonce{
}
.annonce h1, .annonce h3{
    color: #344f77;
}
.annonce h3{
    margin: 20px 0;
}
.annonce h1{
    margin-left: 30px;
}
.annonce p{
    margin: 10px 0;
}

ul.samples{

    list-style-type: none
}

ul.samples li{
    margin: 5px 0;
}

ul.samples li a{
    color: #337ab7;
}



ul.profits{

    margin-left:20px
}



ul.profits li{
    margin: 5px 0;
}

    .annonce_left ol{
        padding-left: 20px;
    }

.zoom_in {
    border-style: none;
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}


.demopics {
    float: left;
    margin-bottom: 25px;
    position:relative;
}

.mini_prev {
    border: 1px solid #ccc;
    float: left;
}
