/*General*/

@font-face {
    font-family: "SegoeUILight";
    src: url("fonts/SegoeUILight/SEGOEUIL.eot");
    src: url("fonts/SegoeUILight/SEGOEUIL.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUILight/SEGOEUIL.woff") format("woff"),
    url("fonts/SegoeUILight/SEGOEUIL.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUI";
    src: url("fonts/SegoeUI/SegoeUI.eot");
    src: url("fonts/SegoeUI/SegoeUI.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUI/SegoeUI.woff") format("woff"),
    url("fonts/SegoeUI/SegoeUI.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "SegoeUIBlack";
    src: url("fonts/SegoeUIBlack/seguibl.eot");
    src: url("fonts/SegoeUIBlack/seguibl.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUIBlack/seguibl.woff") format("woff"),
    url("fonts/SegoeUIBlack/seguibl.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 951px;
}

.left_col {
    float: left;
    width: 450px;
}

.right_col {
    float: right;
    width: 450px;
}

.right_divider {
    border-left: 1px solid #303f9f;
    padding-left: 20px;
     margin-left: -20px;
}

.preloader{
    background:url("/content/img/preloader.gif") 20px center  no-repeat; 
}


/*Header*/

#login {
    font-size:13px;
}

#header {
    width:100%;
    height:100px;
    font-family:SegoeUI;
    float:left;
}
#header_top {
    width:100%;
    background-color:#303f9f;
    height:22px;
}
#header_bottom {
    width:100%;
    height:78px;
    background-color:#3f51b5;
}



#header_top #authorization {
    text-align:right;
    padding: 0 20px 0 0;
    color:#fff;
}

#header_top a {
    color:#fff;
    text-decoration:none;
}

#header_top a:hover {
    text-decoration:underline;
}


#logo {
    float:left;
    margin: 20px 0;
}

#logo a {
    background: url("/content/img/skrin_logo.png") no-repeat scroll 0 0;
    display: block;
    height: 41px;
    width: 157px;
}

#header_bottom .content {
    position:relative;
    height:78px;
}

#header_menu {
    position: absolute; 
    bottom: 0; 
    right: 0;
    font-size:16px;
}

#header_menu_table {
    
}

#header_menu_table td {
    line-height: 20px;
    padding: 3px 10px;
    border-bottom:5px solid #3f51b5;
    color:#c5cae9;
    text-decoration:none;
}
 #header_menu_table td a{
     color:#c5cae9;
    text-decoration:none;
 }

#header_menu_table td:hover a{
    color:#fff;
}

td.menu_devider {
    width:1px;
    padding:0px;
}
td.menu_devider div {
    width:100%;
    background-color:#ccc;
    padding: 15px 0;
}

#header_menu_table td:hover,#header_menu_table td.menu_selected {
    border-bottom:5px solid #00bcd4;
    color:#fff;
}
#header_menu_table td.menu_devider:hover {
    border-bottom:5px solid #3f51b5;
}

#login_user{
    font-weight: bold;
    font-size:15px;
}

.icon-user{
    background-image: url("/content/img/glyphicons-halflings-white.png");
    background-repeat:no-repeat;
    display:inline-block;
    height:14px;
    width:14px;
    line-height:14px;
    margin-top:3px;
    vertical-align:text-top;
    background-position: -168px 0;
}

.error_login{
    color: #bc0124;
    font-size: 12px;
    margin: 10px 0;
}

#main{
    font-family:Arial,​Helvetica,​sans-serif;
    float:left;
    background-color:#fff;
    width:100%;
}

/*Bottom*/



#bottom {
    font-family:Arial,​Helvetica,​sans-serif;
    background-color:#f6f6f6;
    color:#727272;
    clear: both;
    width: 100%;
    font-size:10px;
}


#bottom_nav {
    float: left;
    padding: 20px 0;
    width: 100%;
}

.main_bot_nav {
    list-style: none;
    padding-left:0px;
}

.main_bot_nav li h5 {

    position: relative;
    font-size: 13px;
    font-weight: bold;
    margin: 8px 10px 3px 0;
    line-height: 13px;
    font-family:Arial, Helvetica, sans-serif;
}

.main_bot_nav li a {
    font-size: 12px;
    margin: 0 5px;
    font-family:Arial, Helvetica, sans-serif;
    color:#727272;
    text-decoration:none;
    font-weight:normal;
}

.main_bot_nav li a:hover {
    text-decoration:underline;
 }

.sub_bot_nav {
    margin: 10px 0;
}
.sub_bot_nav li, .sub_bot_nav li a {
    display:block;
    color:#727272;
    text-decoration:none;
    font-size: 10px;
    font-weight: normal;

}
.sub_bot_nav li a:hover {
    text-decoration:underline;
 }
.restr_info {
    margin: 10px 0;
}
.contact_info {
    display: inline-block;
    margin-right: 25px;
    vertical-align: bottom;
    width: 200px;
}


/*Buttons*/

.btns {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btns.active.focus, .btns.active:focus, .btns.focus, .btns.focus:active, .btns:active:focus, .btns:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
.btns.focus, .btns:focus, .btns:hover {
    color: #333;
    text-decoration: none;
}
.btns.active, .btns:active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}

.btns.blue {
    background-color: #3F51B5;
    border-color: #153FA1;
    color: #fff;
}
.btns.blue.active, .btns.blue.focus, .btns.blue:active, .btns.blue:focus, .btns.blue:hover{
    background-color: #303F9F;
    border-color: #204d74;
    color: #fff;
}

.btns.red {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.btns.red.active, .btns.red.focus, .btns.red:active, .btns.red:focus, .btns.red:hover{
    background-color: #c9302c;
    border-color: #761c19;
    color: #fff;
}

.btns.green {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}

.btns.grey {
    background-color: #f9f9f9;
    border-color: #aaa;
    color: #000;
}

.btns.grey.active, .btns.grey.focus, .btns.grey:active, .btns.grey:focus, .btns.grey:hover {
    background-color: #ddd;
    border-color: #999;
    color: #000;
}

.btns.green.active, .btns.green.focus, .btns.green:active, .btns.green:focus, .btns.green:hover {
    background-color: #449d44;
    border-color: #398439;
    color: #fff;
}
.btns.small {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 2px 5px;
}
A:link, A:active {
    color: #039;
    text-decoration: underline;
}
A:visited, .anews {
    color: #039;
}
.icon-print{
    background: rgba(0, 0, 0, 0) url("/content/img/print.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-right: 3px;
    vertical-align: text-top;
    width: 16px;
}


/*меню*/
.sub_menu {
  border: none;
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=1, offY=2, color=#E3E3E3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 50px;
  width: 100%;
}
.sub_menu_hight {
  border: none;
  filter: progid:DXImageTransform.Microsoft.dropshadow(offX=1, offY=2, color=#E3E3E3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 60px;
  width: 100%;
}
.second_level_menu
{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border: medium none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index:2000;
    background: #fff;
}

.second_level_menu > li
{
    position: relative;
    height: 30px;
    padding:0 0 0 10px;
}
.second_level_menu > li:hover 
{ 
    background: #EEEEEE; 

}


.top_level_menu
{
    list-style: none;
    padding: 0;
 /*   margin: -3px 0 0;*/
    float:left;
    width:100%;
}

.top_level_menu > li
{
    position: relative;
    float: left;
    height: 30px;
    padding: 10px 15px;
}

.m_hight > li
{
    float: none;
    display: table-cell;
    height: 40px;
    line-height: 0;
    padding: 10px 12px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
}


.top_level_menu > li:hover
{ 
    background: #F7F7F7; 
}

 .top_level_menu > li.selected
{ 
    background: #EEEEEE;
    font-weight: bold; 
}

.top_level_menu li:hover > ul
{
    display: inline;
}

.top_level_menu a 
{
    color: #666;
    font-size:16px;
    text-decoration: none;
    display: block;
    line-height: 30px;
}

.m_hight a{
    line-height: 20px;
}
.top_level_menu li:hover a 
{ 
    color: #212121; 
}

.top_level_menu li.prime a {
    font-size:22px;
}
.top_level_menu > li.prime
{
   height: 42px;
   padding: 8px 20px 0 10px;
}
.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    width: 0;
}
.second_level_menu li a {
    font-size:14px !important; 
 }

.span_info {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    left: 1em;
    margin-left: 0;
    padding: 15px 20px;
    position: absolute;
    top: 2em;
    vertical-align: middle;
    z-index: 999;
}
.critical {
    background: #fca none repeat scroll 0 0;
    border: 1px solid #ff3334;
}
.warning {
    background: #ffa none repeat scroll 0 0;
    border: 1px solid #ffad33;
}

.img {
    border: 0 none;
    float: left;
    margin: -45px 0 0 -45px;
    position: absolute;
}
#clock_div {
    background-image: url("/Content/img/wait.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 60px;
    position: absolute;
    width: 60px;
    z-index: 1000;
}
.prompt {
    background-color: #dbeeff;
    border: 1px solid #003399;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 6px;
    position: absolute;
    text-align: justify;
    z-index: 300;
}


.limitation {
    float: left;
    padding-top: 5em;
    position: relative;
    width: 100%;
}
.data_comment {
    color: #666;
    font-size: 9px;
}
.black-caption
{
	font-weight:bold;
	font-size:larger;
}