#monitor_switch_block .form-group{
    padding: 20px 155px;
}

.monitor_sector_container{
    font-size: 18px;
    margin: 5px 0;
}

.monitor_sector_container input{
    margin-right: 10px;
}

#content_block{

}

#content_block h3{
    color: #10327c;
}

.monitor_container{
     margin: 20px 0 50px;
}

.action_table{
    border-collapse: collapse;
    border-spacing: 0;
}

.action_table  th {
    border-bottom: 2px solid #ddd;
    padding: 5px 3px;
}

.action_table td{
    padding: 20px 10px;
}

.action_table td:first-child{
    font-size: 18px;
    padding: 20px 10px 20px 3px;
}

.action_table .checkall_block {
    float: left;
    margin-top: 12px;
}

.action_table .icon{
    font-size:32px;
    color: #10327c;
    cursor: pointer;
}

.action_table .icon:hover{
    color: #5584ff;
}

.action_table .icon.disabled{
     color: #999;
    cursor: not-allowed;
}

.action_table .check_command_block {
    float: left;
    margin-left: 10px;
}

.action_table .search_input{
    width:300px;
}

#monitor_news_table{
    margin-top: 30px;
    width: 900px;
}

a.edit_group {
     color: rgb(51, 102, 153);
    font-size: 12px;
    font-weight: bold;
}

a.edit_group :hover{

}

.error_list{
    color:#ba0000;
    margin-left: 20px;
}

#search_result .check_command_block .icon.disabled {
    color: #999;
    cursor: not-allowed;
}


.check_command_block {
    float: left;
    margin-left: 20px;
}

.monitor_block .icon.egrul_err, .monitor_block .icon.egrul_err:hover{
    color:#ba0000!important;
}


.explain{
    color: #999;
    font-size: 14px;
    font-style: italic;
    margin: 30px 0;
}

#monitor_content #result_block{
    background-color:inherit;
}