.graph {
    font-size: 14px;
    border-spacing: 2px;
}

.graph td {
    border: none;
}

#multilinks_content{
}

#multilinks_content table {
    line-height: normal;
    font-size: 14px;
    border-collapse: separate;
    border-spacing: 2px;
}

#multilinks_content table td{
     padding: 0px;
     border: none;
}

#search_result .ref{
    color: #10327c;
}

.profile {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 5px 5px 5px 5px;
}

.profile_big {
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #f6f6f6;
    padding: 5px 5px 5px 5px;
}

.profile_src {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #AAEEFF;
    padding: 5px 5px 5px 5px;
}

.profile_src_big {
    border: 3px solid #e6e6e6;
    border-radius: 5px;
    background-color: #AAEEFF;
    padding: 5px 5px 5px 5px;
}

.profile_link_right {
    background: url("/images/link_arrow_right_small.png") no-repeat scroll center center transparent;
    width: 25px;
    min-width: 25px;
    height: 41px;
    vertical-align: middle;
    display: table-cell;
}

.profile_link_left {
    background: url("/images/link_arrow_left_small.png") no-repeat scroll center center transparent;
    width: 25px;
    min-width: 25px;
    height: 41px;
    vertical-align: middle;
    display: table-cell;
}

.link_right {
    background: url("/images/link_arrow_right.png") no-repeat scroll 0 0 transparent;
    min-height: 41px;
    min-width: 75px;
    text-align: center;
    padding: 5px 5px 0 0;
    vertical-align: middle;
}

.link_right_tmp {
    background: url("/images/link_arrow_right_tmp.png") no-repeat scroll 0 0 transparent;
    min-height: 41px;
    min-width: 75px;
    text-align: center;
    padding: 5px 5px 0 0;
    vertical-align: middle;
}

.link_left {
    background: url("/images/link_arrow_left.png") no-repeat scroll 0 0 transparent;
    min-height: 41px;
    min-width: 75px;
    text-align: center;
    padding: 5px 0 0 5px;
    vertical-align: middle;
}

.link_left_tmp {
    background: url("/images/link_arrow_left_tmp.png") no-repeat scroll 0 0 transparent;
    min-height: 41px;
    min-width: 75px;
    text-align: center;
    padding: 5px 0 0 5px;
    vertical-align: middle;
}
