
.content{
    padding-top:50px;
}

h1{
    color:#344f77;
}

#news_container{
    margin: 20px 0 40px;
}

.news_block{
    margin: 20px 0;
}

.news_block.invisible{
    display:none;
}

.news_data{
    color: #3472ad;
    display: inline-block;
    width: 100%;
    font-size:20px;
}

.news_header{
    font-size:18px
}

.news_header:hover{
    cursor:pointer;
}

.header_down{
    display:none;
}
.header_up{
    display:inline-block;
}

.news_header:hover .header_down{
    display:inline-block;
}

.text_block{
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}


#news_container .btns{
    background-color: transparent;
    border-color: #344f77;
    color: #344f77;
    text-decoration: none;
}

#news_container .btns:active, #news_container .btns:focus, #news_container .btns:hover {
        background-color:#344f77;
        color: #fff;
    }

