html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


table{
    border: 1px solid #000;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

table td {
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px 10px;
    text-align: left;
}

table th,table td.table_caption {
    background-color: #f9fafc;
    border: 1px solid #000;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

table tr {
    background-color: #fff !important;
}

a{
    color:#000;
    text-decoration:none;
}

.info_block{
    margin:20px 0;
}


.subcaption {
    color: #3a61ad;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}



.left_content_html #map {
    display:none;
}

.left_content_html .more_ico_okved{
    display:none;
}

.chart_block .title{
    display:none;
}

.data_table table, .profile_table table{
    border:none;
}

.data_comment_r,.explain{
    font-size:14px;
    font-style:italic;
}

.const_toggle,.const_e_toggle{
    display: table-row !important;
}

.left_content_html .data_table tfoot{
    display:none;
}

.tr_light {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
}

.green {
    color: #03bc00;
}
.red {
    color: #cd2b25;
}
.yellow {
    color: #fc8f00;
}
.tr_light a{
    display:none;
}

