#search_block {
    margin: 20px 0;
}

#search_table, #search_table table {
    font-size:11px;
}

#main_search {
    background-color: #eeeeee;
    font-size: 12px;
    padding: 10px;
}

#search_block h2 {
    color: #303f9f;
    font-size: 22px;
    margin: 30px 0;
}

.select_div {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    font-size: 12px;
    height: 17px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
    vertical-align: bottom;
    width: 120px;
}

.groupSelect {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    height: 17px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
    vertical-align: bottom;
}
.countSelect {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    height: 17px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
    vertical-align: bottom;
    width: 40px;
}
.system_form {
    border: 1px solid #ccc;
    color: #666;
    font-family: Arial,Tahoma,"MS Sans Serif";
    font-size: 12px;
    padding: 2px 2px 1px;
}
.system_form_grey {
    border: 1px solid #ccc;
    color: #c0c0c0;
    font-family: Arial,Tahoma,"MS Sans Serif";
    font-size: 12px;
    padding: 2px 2px 1px;
}
.code_comment {
    color: #666;
    font-size: 9px;
    vertical-align: middle;
    padding-left:3px;
    padding-right:5px;
}

#search_result {
    min-height:100px;
    margin: 30px 0 20px;
}

#search_result .minicaption, #content .minicaption, #search_count .minicaption  {
    color: #009323;
    font-size: 14px;
    font-weight: normal;
}

#search_result .error, #content .error, #search_count .error {
    color: #a00;
    font-size: 14px;
    font-weight: normal;
}

    #search_result td {
        font-size:12px;
        font-family:Arial, Helvetica, sans-serif;
    }

#tb_main .table_item_left {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000;
    padding: 2px 0 2px 10px;
    vertical-align: top;
}

 .table_item, .table_item_left {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #000;
    padding: 2px;
    vertical-align: top;
}

.func_button {
    border: 1px solid #ccc;
    cursor: pointer;
    height: 23px;
    margin: 2px;
    padding: 0;
    width: 23px;
}
.excels {
    background-image: url("/images/mnu_icon_excel.gif");
}
.excel_sel {
    background-image: url("/images/mnu_icon_excel_sel.gif");
}
.group {
    background-image: url("/images/mnu_icon_group2.GIF");
}
.group_sel {
    background-image: url("/images/mnu_icon_group2_sel.GIF");
}

.table_caption_left {
    background-color: #e6e6e6;
    border-bottom: 1px solid #ababab;
    border-right: 1px solid #fff;
    font-weight: 700;
    padding: 3px 3px 3px 10px;
    text-align: left;
}
.table_caption {
    background-color: #e6e6e6;
    border-bottom: 1px solid #ababab;
    border-right: 1px solid #fff;
    font-weight: 700;
    padding: 3px 3px 3px 10px;
    text-align: center;
}

.table_shadow_left, .table_shadow {
    background-color: #d6d6d6;
    border-right: 1px solid #fff;
    font-size: 1px;
    height: 5px;
}

.title_u {
    color: #fffbed;
    position: relative;
}
.title_u em {
    display: none;
}
.title_u:hover em {
    background-color: #fffbed;
    border-radius: 5px;
    bottom: 12px;
    box-shadow: 0 0 5px #666;
    color: #555;
    display: block;
    font-style: normal;
    left: 10px;
    line-height: 16pt;
    padding: 10px;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
}

.sel_div_val {
    font-size: 10px;
}
.divSelector {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    position: absolute;
}
.groupSelect {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 10px;
    height: 15px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
    vertical-align: bottom;
}
.groupSelector {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    position: absolute;
}
.selec_option {
    cursor: pointer;
}
.bones_pointer1 {
    border-bottom: 1px solid #f0f0f0;
    font-size: 10px;
}
.bones_pointer {
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    font-size: 10px;
    text-decoration: none;
}
/*.countSelect {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 10px;
    height: 15px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
    vertical-align: bottom;
    width: 40px;
}*/
.countSelector {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto;
    position: absolute;
}
.service_frame {
    border: 1px solid #000;
    display: none;
    height: 50px;
    width: 50px;
}
.over_color {
    background-color: #003399;
    color: #fff;
}
.out_color {
    background-color: #fff;
    color: #000;
}
.infodiv {
    background-color: #fff;
    border: 1px solid #003399;
    overflow: auto;
    position: absolute;
    z-index: 120;
}
.scandiv {
    background-color: #e0e0e0;
    border: 1px solid #003399;
    overflow: auto;
    z-index: 120;
}
.txt_imgcontent {
    overflow: auto;
}
.ddselector {
    background-color: #fff;
    border: 1px solid #c0c0c0;
    position: absolute;
    z-index: 120;
}
.combo {
    background-color: #fff;
    border: 1px solid #ddd;
    overflow: auto;
    position: absolute;
    z-index: 500;
}
.tdis {
    background-color: #f0f0f0;
}
.soption {
    background-color: #fff;
    color: #003399;
}
.soption:hover {
    background-color: #003399;
    color: #fff;
}
#sselect {
    background-image: url("/images/select_bottom_small2.gif");
    background-position: 100% 5px;
    background-repeat: no-repeat;
    cursor: default;
}

.chbs {
    background-color: white;
    list-style-type: none;
    text-align: left;
    text-indent: 20px;
}

#search_count{
    margin:20px 10px;
}

/*
#page_counter{
    margin:20px 0;
}

#page_counter td{
    padding: 0 2px;
}
*/


/*paging*/
#page_counter{
    clear:both;
    width:100%;
    padding: 20px 0;
}

#page_counter table{
    margin: 0 auto;
}

#page_counter table td{
    border: 1px solid #ddd;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    color:#369;
    cursor:pointer;
}

#page_counter table td:hover{
    background-color:#eee;
}

  #page_counter table td:first-child {
      border-radius: 4px 0 0 4px;
    }

  #page_counter table td:last-child {
      border-radius: 0 4px 4px 0;
    }

#page_counter table td.page_disabled, #page_counter table td.page_disabled:hover{
    background-color:#fafafa;
    color:#333;
    cursor:default;
}



#company_block {
    margin: 20px 0;
}

#company_block  p{
    margin:10px 0;
}

#company_block h2 {
    color: #303f9f;
    font-size: 22px;
    margin: 30px 0;
}

.info_table td{
    padding:3px 0 ;
}


#company_block h3, #company_block h4 {
    margin: 20px 0;
}

.rules p, .rules ul, .rules ol{
    font-size:12px;
}

.rules ul, .rules ol{
    padding-left:10px;
}

tr.drow:nth-child(even) > td
{
    background-color: #F0F0F0 !important;
}
tr.drow:nth-child(odd) > td
{
    background-color: #FFFFFF !important;
}


.group_dialog
{
	z-index:200;
	position:absolute;
	background-color:#F0F0F0;
	border:solid 1px #CCC;
	padding:5px 5px 5px 5px;
	width:320px;
	height:200px;
	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.scroll_select
{
	position:static;
	left:60px;
	overflow:auto;
	height:160px;
	width:320px;
}

.dp_window
{
	border:solid 1px #CCC;
	position:absolute;
	overflow:auto;
	background-color:#FFF;
}

.slider_box {
    margin: 0 5px 0 5px;
	padding: 0 0 0 5px;
    width: 90%;
    clear: both;
}
