@using Skrin.BLL.Authorization

@{
    UserSession us = Context.GetUserSession();
    int message_limit = us.MessageGroupLimit;
    int update_limit = us.UpdateGroupLimit;
    int egrul_group_limit = us.EgrulGroupLimit;
}

@section Css{
    <link href="~/Content/search.css" rel="stylesheet" />
    <link href="~/Scripts/multiple-select/multiple-select.css" rel="stylesheet" />
    <link href="~/Content/monitor.css" rel="stylesheet" />
}
@section Script{
    <script>
        var message_limit=@message_limit;
        var update_limit=@update_limit;
        var egrul_group_limit = @egrul_group_limit;
    </script>
    <script src="~/Scripts/userlist/monitor.js?v=1.1"></script>
    <script src="~/Scripts/multiple-select/multiple-select.js"></script>
}

<div id="monitor_switch_block">
    <div class="content">
        <div class="form-group">
            <div class="monitor_sector_container">
                <input type="radio" name="monitor_sector" value="1" checked />Мониторинг обновлений
            </div>
            <div class="monitor_sector_container">
                <input type="radio" name="monitor_sector" value="3" />Мониторинг Сообщений
            </div> 
            <div class="monitor_sector_container">
                <input type="radio" name="monitor_sector" value="4" />Мониторинг ЕГРЮЛ/ЕГРИП
            </div>                                  
        </div>
    </div>
</div>
<div id="content_block">
    <div class="content" id="monitor_content">
        
    </div>
</div>
