@model int
@using Skrin.BLL.Authorization
@{
    Layout = null;
}



@switch (Model)
	{
    case 1:

        <div id="container1" class="monitor_container">
            <h3>Список групп для мониторинга</h3>
            <table class="action_table" id="monitor_news_table">
                <thead>
                    <tr>
                        <th>
                            <div class="checkall_block"><input type="checkbox" alt="Выделить все" onclick="doSetCheckedAll(this);" id="selallbox" name="selallbox"></div>
                            <div class="check_command_block"><span class="title"><em>Удалить</em><span id="btn_delete" class="icon-trash-empty icon disabled"></span></span></div>
                        </th>
                        <th>E-mail для отсылки уведомлений</th>
                        <th>Группа компаний для мониторинга</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="monitor_news_table_body"></tbody>
            </table>
            <div class="error_list">

            </div>
            <div class="add_record form-group">
                <button class="btns darkblue large hidden" id="btn_Update_Add">Добавить</button>
                <button class="btns darkblue large hidden" id="btn_Update_Save">Сохранить</button>
            </div>
            <div class="explain">
                <p>На этой странице отображается список Групп компаний, по которым Вы настроили мониторинг обновлений информации.</p>
                <p>Для начала мониторинга обновлений Вам нужно указать e-mail и выбрать одну из ранее созданных Вами Групп компаний.</p>
            </div>
        </div>


            break;   

    case 3:

        <div id="container3" class="monitor_container">
            <h3>Список групп для мониторинга</h3>
            <table class="action_table" id="monitor_message_table">
                <thead>
                    <tr>
                        <th>
                            <div class="checkall_block"><input type="checkbox" alt="Выделить все" onclick="doSetCheckedAll(this);" id="selallbox" name="selallbox"></div>
                            <div class="check_command_block"><span class="title"><em>Удалить</em><span id="btn_delete" class="icon-trash-empty icon disabled"></span></span></div>
                        </th>
                        <th>E-mail для отсылки уведомлений</th>
                        <th>Группа компаний для мониторинга</th>
                        <th>Тип сообщения</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="monitor_message_table_body"></tbody>
            </table>
            <div class="error_list">

            </div>
            <div class="add_record form-group">
                <button class="btns darkblue large hidden" id="btn_Update_Add">Добавить</button>
                <button class="btns darkblue large hidden" id="btn_Update_Save">Сохранить</button>
            </div>
            <div class="explain">
                <p>На этой странице отображается список компаний, по которым Вы настроили мониторинг сообщений о существенных фактах, арбитражных дел, сообщений о банкротстве.</p>
                <p>Для начала мониторинга сообщений Вам нужно указать e-mail, выбрать одну из ранее созданных Вами Групп компаний и тип сообщений.</p>
                <p>Новую Группу компаний Вы можете создать в результатах Поиска по реквизитам или в разделе Работа с группами.</p>
            </div>
            
        </div>


        break;


    case 4:

    <div id="container3" class="monitor_container">
        <h3>Список групп для мониторинга</h3>
        <table class="action_table" id="monitor_egrul_table">
            <thead>
                <tr>
                    <th>
                        <div class="checkall_block"><input type="checkbox" alt="Выделить все" onclick="doSetCheckedAll(this);" id="selallbox" name="selallbox"></div>
                        <div class="check_command_block"><span class="title"><em>Удалить</em><span id="btn_delete" class="icon-trash-empty icon disabled"></span></span></div>
                    </th>
                    <th>E-mail для отсылки уведомлений</th>
                    <th>Группа компаний для мониторинга</th>
                    <th>Группы записей ЕГРЮЛ/ЕГРИП</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="monitor_egrul_table_body"></tbody>
        </table>
        <div class="error_list">

        </div>
        <div class="add_record form-group">
            <button class="btns darkblue large hidden" id="btn_Update_Add">Добавить</button>
            <button class="btns darkblue large hidden" id="btn_Update_Save">Сохранить</button>
        </div>
        <div class="explain">            
            <p>На этой странице отображается список компаний, по которым Вы настроили мониторинг записей  ЕГРЮЛ/ЕГРИП.</p>
            <p>Для начала мониторинга сообщений Вам нужно указать e-mail, выбрать одну из ранее созданных Вами Групп компаний и группы записей ЕГРЮЛ/ЕГРИП.</p>
            <p>Новую Группу компаний Вы можете создать в результатах Поиска по реквизитам или в разделе Работа с группами.</p>
        </div>

    </div>


        break;

    default:
        break;
    }


