
@{
    ViewBag.Title = "Action";
}
@section Css{
    <link href="~/Content/annonce.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" />
}
@section Script{
    <script src="~/Scripts/fancybox/jquery.fancybox-1.3.4.js"></script>
    <script>
        $(document).ready(function () {
            $("a.preview_screenshot").fancybox({});
        });
    </script>
}
<div class="annonce content">
    <h1>Информация по ценным бумагам</h1>
    <div class="annonce_left">
        <p>База СКРИН содержит информация по ценным бумагам и полный архив документов по всем акционерным обществам начиная с 1997 г.:</p>
        <ul class="profits">
            <li>выпуски ценных бумаг;</li>
            <li>дивиденды/купоны;</li>
            <li>календарь корпоративных событий;</li>
            <li>эмиссионные документы;</li>
            <li>реестродержатель, владельцы;</li>
            <li>итоги торгов (Московская Биржа, архив РТС, внебиржевые рынки);</li>
            <li>ежеквартальные и годовые отчеты эмитентов;</li>
            <li>учредительные документы;</li>
            <li>списки аффилированных лиц;</li>
            <li>сообщения и существенный факты.</li>
        </ul>
        <p>В Базе СКРИН реализована возможность персональной рассылки обновлений и сообщений. С 2007 г. АО «СКРИН» является организацией, уполномоченной Банком России (ранее ФСФР России) на осуществление распространения информации, раскрываемой на рынке ценных бумаг.</p>
        <h3>Примеры:</h3>
        <ul class="samples">
            <li><a href="/issuers/aflt/" target="_blank">ПАО Аэрофлот</a></li>
            <li><a href="/issuers/avaz/" target="_blank">ОАО Автоваз</a></li>
        </ul>

        @Html.Action("Feedback", new { theme = "Информация по ценным бумагам" })
    </div>
    <div class="annonce_right">
        <div class="demopics">
            <a class="preview_screenshot" href="~/Content/img/annonce/a2_l01.jpg" rel="prev">
                <img class="mini_prev" style="width:335px;" src="~/Content/img/annonce/a2_s01.jpg">
                <img class="zoom_in" src="~/Content/img/zoom_in.png">
            </a>
        </div>
        <div class="demopics">
            <a class="preview_screenshot" href="~/Content/img/annonce/a2_l02.jpg" rel="prev">
                <img class="mini_prev" style="width:335px;" src="~/Content/img/annonce/a2_s02.jpg">
                <img class="zoom_in" src="~/Content/img/zoom_in.png">
            </a>
        </div>
        <div class="demopics">
            <a class="preview_screenshot" href="~/Content/img/annonce/a2_l03.jpg" rel="prev">
                <img class="mini_prev" style="width:335px;" src="~/Content/img/annonce/a2_s03.jpg">
                <img class="zoom_in" src="~/Content/img/zoom_in.png">
            </a>
        </div>
        <div class="demopics">
            <a class="preview_screenshot" href="~/Content/img/annonce/a2_l04.jpg" rel="prev">
                <img class="mini_prev" style="width:335px;" src="~/Content/img/annonce/a2_s04.jpg">
                <img class="zoom_in" src="~/Content/img/zoom_in.png">
            </a>
        </div>
    </div>   
</div>


