@{
    Layout = null;
}
<link href="~/Content/search.css" rel="stylesheet" />
<script src="~/Scripts/company/feedback.js"></script>
<style>
    #main{
        background-color:#fff;
    }

    .feedback_form{
        background-color: #eee;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 60px;
        margin-top: 20px;
        padding: 15px 30px;
        text-align: center;
    }

    .feedback_form .form-group{
        text-align:left;
    }

    .feedback_form .label_form{
        width:200px;
    }
</style>
<div class="feedback_form">
        <h4>Хотите больше узнать о сервисах СКРИН?<br/>Оставьте заявку.</h4>
        <input id="theme" type="hidden" name="theme" value="@ViewBag.Theme"/>
    <div class="form-group">
        <label class="label_form" for="company">Компания</label>
        <div class="sub_form">
            <input id="company" name="company" class="search_input" placeholder="Компания" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="label_form" for="fio">Ф.И.О.</label>
        <div class="sub_form">
            <input id="fio" name="fio" class="search_input" placeholder="Ф.И.О." type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="label_form" for="phone">Телефон</label>
        <div class="sub_form">
            <input id="phone" name="phone" class="search_input" placeholder="Телефон" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="label_form" for="email">E-mail</label>
        <div class="sub_form">
            <input id="email" name="email" class="search_input" placeholder="E-mail" type="text">
        </div>
    </div>
    <div class="form-group">
        <div class="sub_form">
            <textarea rows="5" style="width: 600px" class="search_input" placeholder="Комментарии/Вопрос" name="comment" id="comment"></textarea>
        </div>
    </div>
    <div class="form-group">
        <button id="btnSend" class="btns darkblue large">Отправить</button>
    </div>
</div>

