@using Skrin.BLL.Infrastructure

@model Skrin.Models.ProfileFL.ProfileFLModel
@{Layout = null;}

<script src="~/Scripts/profilefl/passport.js"></script>
<style>
.search_input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 16px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}
</style>
<h1>@Model.fio</h1>
<h2>ИНН: @Model.inn</h2>
<a href="#founder" class="subcaption" style="display: inline">ПРОВЕРКА ПАСПОРТОВ</a>
<br /><br />
<div class="left_content">
    <div style="float:left;width:100%;padding-top:20px;" id="passport_found">
        <span id="lblError" style="color:#000;">Проверка будет выполнена по списку недействительных российских паспортов ФМС России (утраченных, похищенных, оформленных на утраченных или похищенных бланках, выданных в нарушение установленного порядка, а также признанных недействительными).</span><br />
        <div class="form-group" style="text-align:center;padding-top:20px;padding-bottom:20px;"><input type="text" class="search_input" style="width:300px;margin-left:5px;" id="num" placeholder="Серия и номер паспорта" /><button id="btn_search" class="btns darkblue large" style="margin-left:5px;" onclick="SeekPassport();">Найти</button></div>
        <div id="t_content"></div>
        <div id="testing" />
    </div>
</div>


