@{
    Layout = null;
    int year = ViewBag.year;
    string elem_id = ViewBag.elem_id;
}

<!DOCTYPE html>

<html style="min-width: 742px;">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>ParamSelector</title>
    <link href="~/Content/search.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/jquery144.js"></script>
    <script src="~/Scripts/tree.js"></script>
    <script src="~/Scripts/progs2.js"></script>
    <script src="~/Scripts/lib.js"></script>
    <script>
        var clear_pressed = false;
        var node;
        var selected;

        var year=@year;
        var elem_id="@elem_id";

        var param_tab_count = 4;

        var cur_param_tab = 0;
        var cur_nodes = [];
        function addClickParamTabHandler(source_ndx) {
            var sndx = source_ndx;
            var handler = function () {
                for (var i = 0; i < param_tab_count; i++) {
                    if (i === sndx) {
                        $('#qivparam_tab_' + sndx.toString()).addClass("active");
                    } else {
                        $('#qivparam_tab_' + i.toString()).removeClass("active");
                    }
                }
                cur_param_tab = sndx;
                getNodes();
            }
            document.getElementById('qivparam_tab_' + sndx.toString()).onclick = handler;
        }


        $(document).ready(function () {
            getNodes();
            tabVisible();
            for (var i = 0; i < param_tab_count; i++) {
                addClickParamTabHandler(i);
            }
        });

        function getNodes() {
            var i = 0;
            $.post("/QIVParam/GetNodes", { "year": year,  "type": cur_param_tab },
                   function (data) {
//                       parent.hideClock();
                       cur_nodes = data;
                       drawNodes();
                   },
           "json");
        }

        function tabVisible() {
            $.post("/QIVParam/GetTypeCount", { "year": year},
                   function (data) {
                       if (data==4) {
                           $("#qivparam_tab_2").removeClass("hidden");
                           $("#qivparam_tab_3").removeClass("hidden");
                       }
                       else
                       {
                           $("#qivparam_tab_2").addClass("hidden");
                           $("#qivparam_tab_3").addClass("hidden");
                       }
                   });
        }


        function drawNodes() {
            var search = $("#txtsrch").val();
            var t = "";
            $("#paramlist").html(t);
            for (var i = 0; i < cur_nodes.length; i++) {
                var child = cur_nodes[i];
                var chname = ((child.line_code!==null) ? '<b>'+child.line_code+'</b> ' : '')  + child.name;
                if ((search === "") || (chname.indexOf(search) > -1))
                    t += '<li class="' + (child.isFolder ? "group-result" : "bones_pointer") + '" id="param' + child.id + '" onclick="parent.selectNewParam('+child.id+', \''+chname+'\', \''+elem_id+'\','+child.type_id+')">' + chname + '</li>';
            }
            $("#paramlist").html(t);
        }

        function paramSelect() {
            var retval = "";
            $("input:checkbox:checked").each(function (i) {
                if (String(this.id).substr(0, 3) == "chb") {
                    if (this.checked && !this.disabled) {
                        if (getObj("chb" + this.parentNode.parentNode.parentNode.parentNode.id)) {
                            if (getObj("chb" + this.parentNode.parentNode.parentNode.parentNode.id).disabled) {
                                retval += this.value + ",";
                            }
                        } else {
                            retval += this.value + ",";
                        }

                    }
                }
            })
            if (retval.length > 0) {
                retval = retval.substring(0, retval.length - 1);
            }
            parent.Write_TS(retval, is_excl);
        }

    </script>
</head>
<body style="margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; width: 742px;">
    <div id="treeselector" class="treeselector qiv">
        <div id="searcher" style="width: 742px;  position: absolute; top: 0px;">Быстрый поиск:&nbsp;<input type="text" id="txtsrch" value="" class="search_input" style="width:580px" onkeyup="drawNodes()" /></div>

        <div class="form-group" style="width: 742px;">
            <ul class="search_tabs" style="width: 742px;">
                <li class="active" id="qivparam_tab_0"><span>Основные</span></li>
                <li id="qivparam_tab_1"><span>Крупные</span></li>
                <li class="hidden" id="qivparam_tab_2"><span>Малые</span></li>
                <li class="hidden" id="qivparam_tab_3"><span>СОНО</span></li>
            </ul>
        </div>

        <div onclick="tree_toggle(event);"  id="maintree">
            <ul class="Container" id="paramlist"></ul>
        </div>
    </div>
</body>
</html>


