/*
$main_color: #0e1a35;
$light_main_color:#132549;
$second_color:#5584ff;
$text_color:#ccdaff;
$header_color:#10327c;
$second_background:#f8f9fb;
*/
/*
$main_color: #476088;
$light_main_color:#5d7caa;
$second_color:#37ddbf;
$text_color:#adeadd;
$header_color:#344f77;
$second_background:#f8f9fb;
*/

$main_color: #294e80;
$button_color:#ff9800;
$button_border:#F27532;
$second_color:#ff9800;
$text_color:#d3e4ff;
$header_color:#344f77;
$second_background:#eaf4fc;
$second_background:#f7f7f7;

/*#region main*/


.left_col {
    float: left;
    width: 570px;
}
.right_col {
    float: right;
    width: 570px;
}
.right_divider {
    border-left: 1px solid #303f9f;
    margin-left: -30px;
    padding-left: 30px;
}


/*#region top_main*/

#top_main {
    height:80px;
    padding: 20px;
}

#statistic_block {
    padding-top: 20px;
    padding-left: 20px;
}

.stat_count{
     color: #B8C5F2;
    font-size: 36px;
    font-weight: bold;
    margin: 0 15px;
    padding: 3px 40px 0;
}

#ul_count {
    background: url("img/factory.png") no-repeat scroll 0 10px transparent;       
}


#fl_count {
    background: url("img/people.png") no-repeat scroll 0 8px transparent;
}

#case_count{
    background: url("img/balance32.png") no-repeat scroll 0 8px transparent;
}

#zak_count{
    background: url("img/handshake32.png") no-repeat scroll 0 8px transparent;
}



/*#endregion top_main*/

/*#region middle_main*/

#middle_main{
    width: 100%;
    background-color: #003A6A;
    height: 550px;
    

    background:  url("img/background_1280.jpg") no-repeat scroll 50% 0 #003A6A;

    @media(min-width: 1281px){
         background:  url("img/background_1600.jpg") no-repeat scroll 50% 0 #003A6A;
    }

    @media(min-width: 1601px){
         background:  url("img/background_1920.jpg") no-repeat scroll 50% 0 #003A6A;
         height: 600px;
    }
}

#middle_main .content {
    position:relative;
    padding: 100px 0;
    
    @media(min-width: 1601px){
          width: 1600px;
    }
}

.bl{
    float: left;
    background: none repeat scroll 0 0;
    background-color: rgba(0, 58, 106, 0.8);
    border-radius: 10px;
    border: 1px solid #fff;
    color: #fff;

    width: 280px;
    height: 280px;
    margin-left: 20px;

    @media(min-width: 1601px){
    width: 350px;
    height: 350px;
    margin-left: 60px;
    }
}

.bl:first-child{
    margin-left:0; 
}
/*

.bl {
    background: #fff none repeat scroll 0 0;
    color:#333;
    border: 1px solid #e1e1e1;
    width: 550px;
    border-radius: 5px;
    text-decoration:none;
    font-size:18px;
    height: 300px;
    position: absolute;
}

*/

.bl ul  {
    list-style: outside none none;
    margin: 10px 0;
    font-size: 14px;

    @media(min-width: 1601px){
        font-size: 16px;
    }
}

.bl  .ok {
    font-size: 13px;
    margin-right: 10px;
    color:  #5b85ad;
}


#main .btns{
    background-color: transparent;
    border-color: $header_color;
    color: $header_color;
    text-decoration: none;
}

#main .btns:active, #main .btns:focus, #main .btns:hover {
        background-color:$header_color;
        color: #fff;
    }

.bl .moving{
    bottom: 40px;
    left: 0;
    position: absolute;
}

#middle_main .btns{
    background-color:$button_color;
    border-color: $button_border;
    color: #fff;
    text-decoration: none;
    font-size: 14px;

     @media(min-width: 1601px){
        font-size: 18px;
    }
}

#middle_main .btns:active, #middle_main .btns:focus, #middle_main .btns:hover {
        
        background-color: transparent;
        border-color: $button_color;
        color: $button_color;
    }

.bl_int {
    height: 100%;
    margin: 20px;
    position: relative;
}

.bl h2 {
    color: #fff;
    font-size: 18px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 4px;

    @media(min-width: 1601px){
        font-size: 24px;
        height: 70px;
    }
}

#bl1 .bl_int {
    background:  url("img/bl1.png") no-repeat scroll 90% 90%;
}
#bl2 .bl_int {
    background:  url("img/bl2.png") no-repeat scroll 90% 90%;
}
#bl3 .bl_int {
    background:  url("img/bl3.png") no-repeat scroll 90% 90%;
}
#bl4 .bl_int {
    background:  url("img/bl4.png") no-repeat scroll 90% 90%;
}

/*#endregion middle_main*/


/*#region news*/

#events{
    background-color: #fff;
}

#analitics{
    background-color: $second_background;
}

.news_lines_block{
    padding: 30px 0;
}

.news_lines_block h1{
    color: $header_color;
    font-size: 28px;
}

.news_lines{
    list-style: outside none none;
}

.news_lines li {
    color: #333;
    margin: 15px 0;
}

.news_lines li a{
    color: #333;
}

.news_lines li a.organitation{
    font-weight: bold;
}

.news_data{
    color: #3472ad;
    display: inline-block;
    width: 100%;
}

.news_data_sm{
    font-size: 18px;
}

.news_data_large{
    font-size: 20px;
    margin: 10px 0 0;
}

.news_lines_block .moving{
    margin: 30px 0;
}

.preloader {
    background: rgba(0, 0, 0, 0) url("/content/img/preloader.gif") no-repeat scroll 20px center;
}

/*#endregion news*/

/*#endregion main*/


