$main_color: #294e80;
$button_color:#ff9800;
$button_border:#F27532;
$second_color:#ff9800;
$text_color:#d3e4ff;
$header_color:#344f77;
$second_background:#eaf4fc;
$second_background:#f7f7f7;


.Container {
    padding: 0;
    margin: 0;
    font-family:Arial,​​Helvetica,​​sans-serif;
}

.Container li {
    list-style-type: none;
}
.Node {
    background-image : url(img/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    font-size:14px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}
.IsLast {
    background-image: url(img/i_half.gif);
    background-repeat : no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(img/expand_minus.gif);
}

.ExpandClosed .Expand {
    background-image: url(img/expand_plus.gif);
}

.ExpandLeaf .Expand {
    background-image: url(img/expand_leaf.gif);
}

.Content {
    min-height: 21px;
    margin-left:18px;
    z-index:5;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container {
        display: block;
}

.ExpandClosed .Container {
        display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
        cursor: pointer;
}
.ExpandLeaf .Expand {
        cursor: auto;
}
.chbox {
z-index:1;
margin:0 4px 0 0;
}
.tree_txt
{
	margin-top:0px;
}
.div_chb 
{
	filter:Alpha(Opacity=0);
	width: 14px;
	height:14px;
	position:absolute;
	display:none;
	background-color:#FFF;
	z-index:500;
    opacity:0;
}

.tree_search
{
	z-index:1000;
	background-color:#fff;
	border-bottom:solid 1px #ccc;
	border-left:solid 1px #ccc;
	border-right:solid 1px #ccc;
	position:absolute;
	padding: 5px 5px 5px 5px;
	overflow:auto;
    font-family:Arial,​​Helvetica,​​sans-serif;
    font-size:14px;
}
.span_tree_search
{
	padding:10px 10px 0px 0px;
	font-weight:bold;
	color:#003399;
}


.tree_search_item td {
    padding: 3px;
    vertical-align: top;
}

.tree_search_item:hover
{
    color:#fff;
    background-color: $button_color;
}

/*
.treeselector
{
	
	background-color: #fff;
    border: 1px solid #ccc;
    font-family: Arial,Helvetica,sans-serif;
    height: 384px;
    padding: 1px 0;
    position: absolute;
    width: 645px;
	
}
*/
.tree_frame
{
	frameborder:0;
	border:none;
	padding:0px 0px 0px -5px;
	margin:0px 0px 0px -5px;
	width:100%;
	height:500px;
	background-color:#FFF;
    top:38px;
    right:0;
}
.selector
{
	border:solid 1px #CCC;
	position:absolute; 
	width:645px; 
	height:280px;
	background-color:#F0F0F0;
	padding:1px 1px 1px 1px;
    font-family: Arial,Helvetica,sans-serif;
    font-size:12px;
}
.s_option
{
	cursor:default;
	
}
.s_option:hover{background-color:#003399; color:#FFFF88;}

.search_input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 16px;
    height: 24px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.search_input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.inner_search_code .year{
     color: #999;
    font-size: 12px;
}

.inner_search_code td{
    padding:3px;
}

.outer_search_code td hr{
    border-color: #eee;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

.inner_search_code td.divider{

}


