@{
    ViewBag.Title = "Отчеты";
    ViewBag.PageID = 7;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Меню -->
@Html.Partial("_Menu")
<br />

<!-- loading -->
<div class="row">
    <div class="col-md-12">
        <br />
        <center>
            <div id="LoadingImage" style="display: none">
                <font color="green">Загрузка данных...</font>&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/ajax-loader.gif" />
            </div>
        </center>
    </div>
</div>
<div id="placedata">
    <div class="report-link">@Html.ActionLink("Новые посетители", "AccountNew", "Reports")</div>
    <div class="report-link">@Html.ActionLink("Сводные отчет", "MainReport", "Reports")</div>
</div>
<br /><br />

@section Scripts 
{
    <script type="text/javascript">
        $(document).ready(function () {

        });

    </script>

<script type="text/javascript">
    $(function () {
        $('#datepicker1').datetimepicker({
            language: 'ru',
            pickTime: false
        });
    });

    $(function () {
        $('#datepicker2').datetimepicker({
            language: 'ru',
            pickTime: false
        });
    });

</script>

}

