
.icon-file-pdf:before { content: '\e800'; } /* '' */
.icon-file-word:before { content: '\e801'; } /* '' */
.icon-file-excel:before { content: '\e802'; } /* '' */
.icon-file-archive:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-desktop:before { content: '\e805'; } /* '' */
.icon-tablet:before { content: '\e806'; } /* '' */
.icon-print:before { content: '\e807'; } /* '' */
.icon-link-ext:before { content: '\e808'; } /* '' */
.icon-sitemap:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-plus-squared-alt:before { content: '\e80b'; } /* '' */
.icon-minus-squared-alt:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-user-plus:before { content: '\e80e'; } /* '' */
.icon-user-times:before { content: '\e80f'; } /* '' */
.icon-info-circled:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */
.icon-doc-text:before { content: '\e812'; } /* '' */
.icon-building:before { content: '\e813'; } /* '' */
.icon-table:before { content: '\e814'; } /* '' */
.icon-users:before { content: '\e815'; } /* '' */
.icon-bank:before { content: '\e816'; } /* '' */
.icon-globe:before { content: '\e817'; } /* '' */
.icon-newspaper:before { content: '\e818'; } /* '' */
.icon-angle-up:before { content: '\e819'; } /* '' */
.icon-angle-down:before { content: '\e81a'; } /* '' */
.icon-angle-left:before { content: '\e81b'; } /* '' */
.icon-angle-right:before { content: '\e81c'; } /* '' */
.icon-globe-1:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-spin3:before { content: '\e81f'; } /* '' */
.icon-minus-circled:before { content: '\e820'; } /* '' */
.icon-circle-empty:before { content: '\e821'; } /* '' */
.icon-dot-circled:before { content: '\e822'; } /* '' */
.icon-ok:before { content: '\e823'; } /* '' */
.icon-ok-1:before { content: '\e824'; } /* '' */
.icon-ok-2:before { content: '\e825'; } /* '' */
.icon-file-image:before { content: '\e826'; } /* '' */
.icon-doc:before { content: '\e827'; } /* '' */
.icon-file-code:before { content: '\e828'; } /* '' */
.icon-cog:before { content: '\e829'; } /* '' */
.icon-cog-alt:before { content: '\e82a'; } /* '' */
.icon-search:before { content: '\e82b'; } /* '' */
.icon-trash-empty:before { content: '\e82c'; } /* '' */
.icon-upload:before { content: '\e82d'; } /* '' */
.icon-scissors:before { content: '\e82e'; } /* '' */
.icon-ok-3:before { content: '\e82f'; } /* '' */
.icon-cancel-1:before { content: '\e82f'; } /* '' */
.icon-cancel:before { content: '\e830'; } /* '' */
.icon-attention:before { content: '\e831'; } /* '' */
.icon-attention-circled:before { content: '\e832'; } /* '' */
.icon-th-large:before { content: '\e833'; } /* '' */
.icon-floppy:before { content: '\e834'; } /* '' */
.icon-mail:before { content: '\e835'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */