<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="REFRESH" content="1; URL=http://veeptest.ru">
    <title>VEEP</title>
</head>
<body>



</body>
</html>