<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="REFRESH" content="1; URL=http://veeptest.ru">
    <title>VEEP</title>
</head>
<body>

        <style type="text/css">
            html, body {
                height: 100%;
                background-color: #ffffff;
                font-family: SegoeUI,Arial, Helvetica, sans-serif;
            }

            body {
                margin: 0;
                padding: 0;
                overflow: auto;
            }

            .logo {
                padding: 70px 0 50px 0;
                text-align: center;
            }

            .content {
                width: 600px;
                font-size: 16px;
                color: #000000;
                display:block;
                position:absolute;
                left:50%;
                margin-left:-300px;
            }

            .title {
                font-size: 18px;
                color: #000000;
                font-weight: bold;
            }

            ul {
                padding-left: 20px;
            }

            ul li {
                padding-left: 0px;
            }
            .phone {
                font-size: 20px;
                color: #000000;
                font-weight: bold;
                padding-top:20px;
                padding-bottom:50px;
                text-align:center;
            }
            a
            {
                font-size: 14px;
                text-decoration:none;
            }
                a:hover
                {
                    text-decoration: underline;
                }
        </style>
        
        <div class="content">
            <div style="padding-top:30px; padding-right:20px; text-align:right;"><a href="/license.html" target="_blank">Лицензионный договор</a></div>
            <div class="logo"><img src="veep_logo.png" /></div>
            <br/>
                <span class="title">VEEP</span> – мобильное приложение, открывающее пользователю уникальные возможности:
                <ul>
                    <li>Управлять своим посещением кафе и ресторанов</li>
                    <li>Оплачивать счет и оставлять чаевые</li>
                    <li>Участвовать в программах лояльности</li>
                </ul>
                Плюсы внедрения сервиса <span class="title">VEEP</span> для ресторана:
                <ul>
                    <li>Инновационный сервис повышает лояльность гостей</li>
                    <li>Размещение информации о ресторане в мобильном приложении <span class="title">VEEP</span></li>
                    <li>Ускорение процесса расчета гостей повышает «оборачиваемость столов»</li>
                    <li>Снижение процента по эквайрингу</li>
                </ul>
                По вопросам сотрудничества обращайтесь по телефону:<br />
                <div class="phone">+7 917 507 42 23</div>
                
        </div>




</body>
</html>